In [1]:
import pandas as pd
import ast

folder_prefix = '/home/jovyan/work/'

In [4]:
combined_df = pd.read_csv(folder_prefix + "nowdata/parsing/combined_df.csv", sep="\t", low_memory=False, encoding="utf-8")

In [3]:
combined_df

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,WEBTEXT_METHOD,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,43,345,13,-3.748409,-3.228735,-2.321901,72837
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,5,195,4,-4.119223,-4.022280,-2.431207,52636
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,False,NaN,382,759,183,-3.228263,-2.908315,-2.610395,309540
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,False,NaN,36,91,38,-2.969158,-2.992443,-2.589766,35399
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,22,192,328,-2.057833,-3.231133,-2.288675,37472
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,False,NaN,7,1062,98,-3.065221,-4.211327,-2.029338,113880
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,6,435,7,-3.922933,-3.989858,-2.129468,58618
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,74,351,45,-3.198278,-2.982045,-2.305945,71038
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,47,662,54,-3.046293,-3.106430,-1.957742,60077
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,36,60,25,-3.334639,-3.176027,-2.954299,54023
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,47,113,25,-3.510078,-3.235765,-2.854870,80914

In [4]:
parsed_df_9 = pd.read_csv(folder_prefix + "nowdata/parsing/parsed_df_9.csv", sep="\t", low_memory=False, encoding="utf-8")

In [10]:
parsed_df_9['OVERLAPS_REMOVED'] = 1

In [11]:
parsed_df_9

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS,OVERLAPS_REMOVED
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,43,345,13,-3.748409,-3.228735,-2.321901,72837,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,5,195,4,-4.119223,-4.022280,-2.431207,52636,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,382,759,183,-3.228263,-2.908315,-2.610395,309540,1
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,36,91,38,-2.969158,-2.992443,-2.589766,35399,1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,22,192,328,-2.057833,-3.231133,-2.288675,37472,1
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,7,1062,98,-3.065221,-4.211327,-2.029338,113880,1
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,6,435,7,-3.922933,-3.989858,-2.129468,58618,1
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,74,351,45,-3.198278,-2.982045,-2.305945,71038,1
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,47,662,54,-3.046293,-3.106430,-1.957742,60077,1
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,36,60,25,-3.334639,-3.176027,-2.954299,54023,1
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,47,113,25,-3.510078,-3.235765,-2.854870,80914,1

In [14]:
li_9 = []
for i in list(parsed_df_9.columns):
    if i not in list(combined_df.columns):
        li_9.append(i)
        print(i)

PROG_COUNT
RIT_COUNT
ESS_COUNT
ESS_STR
PROG_STR
RIT_STR
NUMWORDS

In [15]:
li_9

['PROG_COUNT',
 'RIT_COUNT',
 'ESS_COUNT',
 'ESS_STR',
 'PROG_STR',
 'RIT_STR',
 'NUMWORDS']

In [16]:
for i in li_9:
    combined_df[i] = 0

In [17]:
combined_df

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,REPLACED,CMO_REPLACED,OVERLAPS_REMOVED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
0,HENRY FORD LEARNING INSTITUTE,1834.0,HENRY FORD ACADEMY: SCHOOL FOR CREATIVE STUDIE...,MI,4.0,https://hfli.org/,1.0,MI,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
1,"K12, Inc.",78915.0,DESTINATIONS CAREER ACADEMY OF WISCONSIN HIGH ...,VA,74.0,http://www.k12.com/,32.0,"AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...",CMO,44559.0,...,NaN,NaN,1,0,0,0,0,0,0,0
2,"K12, Inc.",78915.0,WISCONSIN VIRTUAL ACADEMY HIGH (WIVA),VA,74.0,http://www.k12.com/,32.0,"AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...",CMO,44559.0,...,NaN,NaN,1,0,0,0,0,0,0,0
3,"K12, Inc.",78915.0,WISCONSIN VIRTUAL ACADEMY K-8 (WIVA),VA,74.0,http://www.k12.com/,32.0,"AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...",CMO,44559.0,...,NaN,NaN,1,0,0,0,0,0,0,0
4,HENRY FORD LEARNING INSTITUTE,1834.0,HENRY FORD ACADEMY: SCHOOL FOR CREATIVE STUDIE...,MI,4.0,https://hfli.org/,1.0,MI,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
5,HENRY FORD LEARNING INSTITUTE,1834.0,HENRY FORD ACADEMY ALAMEDA SCHOOL FOR ART + DE...,MI,4.0,https://hfli.org/,1.0,MI,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
6,Alliance College-Ready Public Schools,12541.0,ALLIANCE JUDY IVIE BURTON TECHNOLOGY ACADEMY HIGH,CA,26.0,https://www.laalliance.org/,1.0,CA,CMO,5185.0,...,NaN,NaN,1,0,0,0,0,0,0,0
7,"The Leona Group, L.L.C.",24758.0,NORTHPOINTE ACADEMY,AZ,70.0,http://www.leonagroup.com/,4.0,"AZ,IN,MI,OH",VOS,13264.0,...,NaN,NaN,1,0,0,0,0,0,0,0
8,"The Leona Group, L.L.C.",24758.0,REACH ACADEMY,AZ,70.0,http://www.leonagroup.com/,4.0,"AZ,IN,MI,OH",VOS,13264.0,...,NaN,NaN,1,0,0,0,0,0,0,0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
10,Breakthrough Charter Schools,2120.0,CITIZENS LEADERSHIP ACADEMY,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0,0,0,0
11,Breakthrough Charter Schools,2120.0,VILLAGE PREPARATORY SCHOOL,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0,0,0,0
12,Breakthrough Charter Schools,2120.0,VILLAGE PREPARATORY SCHOOL WILLARD,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0,0,0,0
13,Breakthrough Charter Schools,2120.0,VILLAGE PREPARATORY SCHOOL:: WOODLAND HILLS CA...,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0,0,0,0
14,HILL COUNTRY YOUTH RANCH,205.0,HILL COUNTRY YOUTH RANCH,TX,3.0,https://youth-ranch.org/,1.0,TX,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
15,HILL COUNTRY YOUTH RANCH,205.0,BIG SPRINGS CHARTER SCHOOL,TX,3.0,https://youth-ranch.org/,1.0,TX,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
16,"HOUSTON GATEWAY ACADEMY, INC.",2065.0,HOUSTON GATEWAY ACADEMY,TX,4.0,https://www.hgaschools.org/,1.0,TX,CMO,1731.0,...,NaN,NaN,1,0,0,0,0,0,0,0
17,"HOUSTON GATEWAY ACADEMY, INC.",2065.0,HOUSTON GATEWAY ACADEMY - CORAL CAMPUS,TX,4.0,https://www.hgaschools.org/,1.0,TX,CMO,1731.0,...,NaN,NaN,1,0,0,0,0,0,0,0
18,"HOUSTON GATEWAY ACADEMY, INC.",2065.0,HOUSTON GATEWAY ACADEMY INC ELITE COLLEGE PREP,TX,4.0,https://www.hgaschools.org/,1.0,TX,CMO,1731.0,...,NaN,NaN,1,0,0,0,0,0,0,0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
23,Environmental Charter Schools,1051.0,ENVIRONMENTAL CHARTER HIGH,CA,3.0,https://ecsonline.org/,1.0,CA,CMO,550.0,...,NaN,NaN,1,0,0,0,0,0,0,0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
25,Bright Star Schools,2287.0,VALOR ACADEMY MIDDLE,CA,7.0,http://www.brightstarschools.org/,1.0,CA,CMO,768.0,...,NaN,NaN,1,0,0,0,0,0,0,0
26,Brighter Choice Charter Schools,573.0,BRIGHTER CHOICE CHARTER SCHOOL FOR BOYS,NY,2.0,http://www.brighterchoice.org/,1.0,NY,CMO,932.0,...,NaN,NaN,1,0,0,0,0,0,0,0
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0,0,0,0
28,"The Leona Group, L.L.C.",24758.0,WILDWOOD ENVIRONMENTAL ACADEMY,AZ,70.0,http://www.leonagroup.com/,4.0,"AZ,IN,MI,OH",VOS,13264.0,...,NaN,NaN,1,0,0,0,0,0,0,0
29,Brighter Choice Charter Schools,573.0,BRIGHTER CHOICE CHARTER SCHOOL FOR GIRLS,NY,2.0,http://www.brighterchoice.org/,1.0,NY,CMO,932.0,...,NaN,NaN,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0
11572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0,0,0,0

In [19]:
for i in list(combined_df.columns):
    if i not in list(parsed_df_9.columns):
        print(i)

In [25]:
all_ex2_df = pd.concat([combined_df, parsed_df_9], ignore_index = True, sort = False)

In [26]:
all_ex2_df

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,REPLACED,CMO_REPLACED,OVERLAPS_REMOVED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
0,HENRY FORD LEARNING INSTITUTE,1834.0,HENRY FORD ACADEMY: SCHOOL FOR CREATIVE STUDIE...,MI,4.0,https://hfli.org/,1.0,MI,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
1,"K12, Inc.",78915.0,DESTINATIONS CAREER ACADEMY OF WISCONSIN HIGH ...,VA,74.0,http://www.k12.com/,32.0,"AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...",CMO,44559.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
2,"K12, Inc.",78915.0,WISCONSIN VIRTUAL ACADEMY HIGH (WIVA),VA,74.0,http://www.k12.com/,32.0,"AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...",CMO,44559.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
3,"K12, Inc.",78915.0,WISCONSIN VIRTUAL ACADEMY K-8 (WIVA),VA,74.0,http://www.k12.com/,32.0,"AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...",CMO,44559.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
4,HENRY FORD LEARNING INSTITUTE,1834.0,HENRY FORD ACADEMY: SCHOOL FOR CREATIVE STUDIE...,MI,4.0,https://hfli.org/,1.0,MI,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
5,HENRY FORD LEARNING INSTITUTE,1834.0,HENRY FORD ACADEMY ALAMEDA SCHOOL FOR ART + DE...,MI,4.0,https://hfli.org/,1.0,MI,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
6,Alliance College-Ready Public Schools,12541.0,ALLIANCE JUDY IVIE BURTON TECHNOLOGY ACADEMY HIGH,CA,26.0,https://www.laalliance.org/,1.0,CA,CMO,5185.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
7,"The Leona Group, L.L.C.",24758.0,NORTHPOINTE ACADEMY,AZ,70.0,http://www.leonagroup.com/,4.0,"AZ,IN,MI,OH",VOS,13264.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
8,"The Leona Group, L.L.C.",24758.0,REACH ACADEMY,AZ,70.0,http://www.leonagroup.com/,4.0,"AZ,IN,MI,OH",VOS,13264.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
10,Breakthrough Charter Schools,2120.0,CITIZENS LEADERSHIP ACADEMY,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11,Breakthrough Charter Schools,2120.0,VILLAGE PREPARATORY SCHOOL,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
12,Breakthrough Charter Schools,2120.0,VILLAGE PREPARATORY SCHOOL WILLARD,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
13,Breakthrough Charter Schools,2120.0,VILLAGE PREPARATORY SCHOOL:: WOODLAND HILLS CA...,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
14,HILL COUNTRY YOUTH RANCH,205.0,HILL COUNTRY YOUTH RANCH,TX,3.0,https://youth-ranch.org/,1.0,TX,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
15,HILL COUNTRY YOUTH RANCH,205.0,BIG SPRINGS CHARTER SCHOOL,TX,3.0,https://youth-ranch.org/,1.0,TX,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
16,"HOUSTON GATEWAY ACADEMY, INC.",2065.0,HOUSTON GATEWAY ACADEMY,TX,4.0,https://www.hgaschools.org/,1.0,TX,CMO,1731.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
17,"HOUSTON GATEWAY ACADEMY, INC.",2065.0,HOUSTON GATEWAY ACADEMY - CORAL CAMPUS,TX,4.0,https://www.hgaschools.org/,1.0,TX,CMO,1731.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
18,"HOUSTON GATEWAY ACADEMY, INC.",2065.0,HOUSTON GATEWAY ACADEMY INC ELITE COLLEGE PREP,TX,4.0,https://www.hgaschools.org/,1.0,TX,CMO,1731.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
23,Environmental Charter Schools,1051.0,ENVIRONMENTAL CHARTER HIGH,CA,3.0,https://ecsonline.org/,1.0,CA,CMO,550.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
25,Bright Star Schools,2287.0,VALOR ACADEMY MIDDLE,CA,7.0,http://www.brightstarschools.org/,1.0,CA,CMO,768.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
26,Brighter Choice Charter Schools,573.0,BRIGHTER CHOICE CHARTER SCHOOL FOR BOYS,NY,2.0,http://www.brighterchoice.org/,1.0,NY,CMO,932.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
28,"The Leona Group, L.L.C.",24758.0,WILDWOOD ENVIRONMENTAL ACADEMY,AZ,70.0,http://www.leonagroup.com/,4.0,"AZ,IN,MI,OH",VOS,13264.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
29,Brighter Choice Charter Schools,573.0,BRIGHTER CHOICE CHARTER SCHOOL FOR GIRLS,NY,2.0,http://www.brighterchoice.org/,1.0,NY,CMO,932.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,43,345,13,-3.748409,-3.228735,-2.321901,72837
11574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,5,195,4,-4.119223,-4.022280,-2.431207,52636
11575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,382,759,183,-3.228263,-2.908315,-2.610395,309540
11576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,36,91,38,-2.969158,-2.992443,-2.589766,35399
11577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,22,192,328,-2.057833,-3.231133,-2.288675,37472
11578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,7,1062,98,-3.065221,-4.211327,-2.029338,113880
11579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,6,435,7,-3.922933,-3.989858,-2.129468,58618
11580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,74,351,45,-3.198278,-2.982045,-2.305945,71038
11581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,47,662,54,-3.046293,-3.106430,-1.957742,60077
11582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,36,60,25,-3.334639,-3.176027,-2.954299,54023
11583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,47,113,25,-3.510078,-3.235765,-2.854870,80914

In [28]:
for i in list(all_ex2_df.columns):
    if i not in list(combined_df.columns):
        print(i)

In [ ]:
#now all_ex2_df has parsed dfs 1-9 except the last two schools

In [29]:
all_ex2_df.to_csv(folder_prefix + "/nowdata/parsing/all_ex2_df.csv", mode="w", index=False, header=all_ex2_df.columns.values, sep="\t", encoding="utf-8")

In [30]:
a = pd.read_csv(folder_prefix + "nowdata/parsing/all_ex2_df.csv", sep="\t", low_memory=False, encoding="utf-8")

In [31]:
a

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,REPLACED,CMO_REPLACED,OVERLAPS_REMOVED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
0,HENRY FORD LEARNING INSTITUTE,1834.0,HENRY FORD ACADEMY: SCHOOL FOR CREATIVE STUDIE...,MI,4.0,https://hfli.org/,1.0,MI,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
1,"K12, Inc.",78915.0,DESTINATIONS CAREER ACADEMY OF WISCONSIN HIGH ...,VA,74.0,http://www.k12.com/,32.0,"AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...",CMO,44559.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
2,"K12, Inc.",78915.0,WISCONSIN VIRTUAL ACADEMY HIGH (WIVA),VA,74.0,http://www.k12.com/,32.0,"AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...",CMO,44559.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
3,"K12, Inc.",78915.0,WISCONSIN VIRTUAL ACADEMY K-8 (WIVA),VA,74.0,http://www.k12.com/,32.0,"AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...",CMO,44559.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
4,HENRY FORD LEARNING INSTITUTE,1834.0,HENRY FORD ACADEMY: SCHOOL FOR CREATIVE STUDIE...,MI,4.0,https://hfli.org/,1.0,MI,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
5,HENRY FORD LEARNING INSTITUTE,1834.0,HENRY FORD ACADEMY ALAMEDA SCHOOL FOR ART + DE...,MI,4.0,https://hfli.org/,1.0,MI,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
6,Alliance College-Ready Public Schools,12541.0,ALLIANCE JUDY IVIE BURTON TECHNOLOGY ACADEMY HIGH,CA,26.0,https://www.laalliance.org/,1.0,CA,CMO,5185.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
7,"The Leona Group, L.L.C.",24758.0,NORTHPOINTE ACADEMY,AZ,70.0,http://www.leonagroup.com/,4.0,"AZ,IN,MI,OH",VOS,13264.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
8,"The Leona Group, L.L.C.",24758.0,REACH ACADEMY,AZ,70.0,http://www.leonagroup.com/,4.0,"AZ,IN,MI,OH",VOS,13264.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
10,Breakthrough Charter Schools,2120.0,CITIZENS LEADERSHIP ACADEMY,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11,Breakthrough Charter Schools,2120.0,VILLAGE PREPARATORY SCHOOL,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
12,Breakthrough Charter Schools,2120.0,VILLAGE PREPARATORY SCHOOL WILLARD,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
13,Breakthrough Charter Schools,2120.0,VILLAGE PREPARATORY SCHOOL:: WOODLAND HILLS CA...,OH,7.0,https://breakthroughschools.org/,1.0,OH,CMO,1600.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
14,HILL COUNTRY YOUTH RANCH,205.0,HILL COUNTRY YOUTH RANCH,TX,3.0,https://youth-ranch.org/,1.0,TX,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
15,HILL COUNTRY YOUTH RANCH,205.0,BIG SPRINGS CHARTER SCHOOL,TX,3.0,https://youth-ranch.org/,1.0,TX,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
16,"HOUSTON GATEWAY ACADEMY, INC.",2065.0,HOUSTON GATEWAY ACADEMY,TX,4.0,https://www.hgaschools.org/,1.0,TX,CMO,1731.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
17,"HOUSTON GATEWAY ACADEMY, INC.",2065.0,HOUSTON GATEWAY ACADEMY - CORAL CAMPUS,TX,4.0,https://www.hgaschools.org/,1.0,TX,CMO,1731.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
18,"HOUSTON GATEWAY ACADEMY, INC.",2065.0,HOUSTON GATEWAY ACADEMY INC ELITE COLLEGE PREP,TX,4.0,https://www.hgaschools.org/,1.0,TX,CMO,1731.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
23,Environmental Charter Schools,1051.0,ENVIRONMENTAL CHARTER HIGH,CA,3.0,https://ecsonline.org/,1.0,CA,CMO,550.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
25,Bright Star Schools,2287.0,VALOR ACADEMY MIDDLE,CA,7.0,http://www.brightstarschools.org/,1.0,CA,CMO,768.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
26,Brighter Choice Charter Schools,573.0,BRIGHTER CHOICE CHARTER SCHOOL FOR BOYS,NY,2.0,http://www.brighterchoice.org/,1.0,NY,CMO,932.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
28,"The Leona Group, L.L.C.",24758.0,WILDWOOD ENVIRONMENTAL ACADEMY,AZ,70.0,http://www.leonagroup.com/,4.0,"AZ,IN,MI,OH",VOS,13264.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
29,Brighter Choice Charter Schools,573.0,BRIGHTER CHOICE CHARTER SCHOOL FOR GIRLS,NY,2.0,http://www.brighterchoice.org/,1.0,NY,CMO,932.0,...,NaN,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,0,0,0,0.000000,0.000000,0.000000,0
11573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,43,345,13,-3.748409,-3.228735,-2.321901,72837
11574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,5,195,4,-4.119223,-4.022280,-2.431207,52636
11575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,382,759,183,-3.228263,-2.908315,-2.610395,309540
11576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,36,91,38,-2.969158,-2.992443,-2.589766,35399
11577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,22,192,328,-2.057833,-3.231133,-2.288675,37472
11578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,7,1062,98,-3.065221,-4.211327,-2.029338,113880
11579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,6,435,7,-3.922933,-3.989858,-2.129468,58618
11580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,74,351,45,-3.198278,-2.982045,-2.305945,71038
11581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,47,662,54,-3.046293,-3.106430,-1.957742,60077
11582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,36,60,25,-3.334639,-3.176027,-2.954299,54023
11583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,1,47,113,25,-3.510078,-3.235765,-2.854870,80914

In [3]:
big_2_df = pd.read_csv(folder_prefix + "nowdata/parsing/big_2_df.csv", sep="\t", low_memory=False, encoding="utf-8")

In [10]:
sevmil_df = big_2_df.iloc[:1]
sevmil_df

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,WEBTEXT_METHOD,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,38471,76840,38285,-2.281288,-2.275754,-1.978726,7316726

In [13]:
eightmil_df = big_2_df.iloc[1:]
eightmil_df

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,WEBTEXT_METHOD,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,42362,84617,42173,-2.281172,-2.275801,-1.978746,8057623

In [14]:
sevmil_df.to_csv(folder_prefix + "nowdata/parsing/sevmil_df.csv", mode="w", index=False, header=sevmil_df.columns.values, sep="\t", encoding="utf-8")

In [15]:
eightmil_df.to_csv(folder_prefix + "nowdata/parsing/eightmil_df.csv", mode="w", index=False, header=eightmil_df.columns.values, sep="\t", encoding="utf-8")

In [20]:
parsed_sev = pd.read_csv(folder_prefix + "nowdata/parsing/sevmil_df.csv", sep="\t", low_memory=False, encoding="utf-8")
parsed_sev

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,WEBTEXT_METHOD,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,38471,76840,38285,-2.281288,-2.275754,-1.978726,7316726

In [17]:
parsed_eight = pd.read_csv(folder_prefix + "nowdata/parsing/eightmil_df.csv", sep="\t", low_memory=False, encoding="utf-8")
parsed_eight

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,WEBTEXT_METHOD,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,42362,84617,42173,-2.281172,-2.275801,-1.978746,8057623

In [22]:
parsed_sev['WEBTEXT'] = parsed_sev['WEBTEXT'].apply(ast.literal_eval)

In [31]:
parsed_sev['WEBTEXT'][0][153]

('https://www.methodschools.org/blog/6-ways-to-help-your-child-grow-a-love-for-robotics',
 'False',
 '2',
 'About\nProgram\nBlog\nCareers\nBoard\nLocations\nStudents\nSmart Fox Login\nSchool Calendar\nStudent Showcase Center\nSummer\nEnroll\nLogin\nSearch\n6 Ways to Help Your Child Grow a Love for Robotics\nBy Staff - May 16, 2017\nRobotics and technology are two of the fastest growing industries in the world. \xa0These amazing research fields represent tools for solving some of the world\'s biggest problems whether finding ways to performing delicate surgery or creating new state-of-the-art security tools. \xa0However, robotics isn\'t always a popular subject with children, particularly those that struggle with math and science. Due to staffing and cost restraints, not every school offers a robotics program or after-school club. \xa0If possible, always look for schools that emphasize the importance of a robotics program (like \nMethod!\n). \xa0Regardless, as parents we can still proactively nurture a positive interest in robotics and similar fields of technology.\nRobotics Clubs\nOne of the most obvious ways to foster interest for robotics is to introduce children to local robotics clubs. Whether a class in school, an after-school program, or a community club, look for a group that caters to your child\'s age and skill level. \xa0If completely new to robotic skills, find a club that specializes in new skill development. \xa0Introductory workshops and activities with other new learners helps children avoid feeling self-conscious and shy. \xa0With time, many children eagerly progress to high-level programs with more challenging projects and lessons. \xa0Often, life-long friendships are forged with fellow club members as they progress through each lesson and activity.\xa0\nAs an added benefit, many robotics clubs are involved in local and even national \nchallenges and competitions.\n\xa0These competitive activities are perfect for inspiring teamwork and encouraging children to reach for new levels of skill, teamwork, and knowledge. \xa0\n"Makerspace" Workshops\nIf there are no active robotics clubs or programs available in your area, widen your search for a local \n"Makerspace"\n or \n"Hacklab."\n\xa0These organizations work to create local workshops with hands-on learning for a variety of age groups. \xa0Many of these impromptu lessons and activities are held in free, public locations such as local libraries; participants are given the opportunity to work with many amazing tools such as 3D printers, circuit board printers, and computer and coding stations. These non-profits allow anyone to begin learning valuable robotics and technical skills. \xa0\nOnline Communities\nOnline robotics communities are perfect for students that enjoy self-taught lessons in a private atmosphere. \nMakezine\n, \nCircuit Bender\n, and \nBitster\n are several online communities geared toward children and introductory robotics projects. \xa0Allowing your child to experiment with online projects and lessons allows them to grow their confidence and skill without pressure. \xa0\xa0\nOnline community projects offer fun and creative challenges designed to bring robotics into every day life. \xa0Step-by-step lessons show children how to "hack" toys into makeshift robots, build brand new gadgets, and even create household tools. \xa0Older children with growing experience are given the opportunity to learn real-world skills such as soldering, electric wiring, and circuit building. These interactive learning modules are so enjoyable many children don\'t even realize their building life-long skills.\xa0\nDIY Projects\nAs children experiment with new skills and projects, it\'s important to keep them challenged and motivated with new experiences and activities. \xa0Encourage your child to reach for new heights with buildable technology \xa0such as the homemade computers and robots. \xa0\n"Makeblock Starter Kits" \nand \n"Wonder Workshop Dash"\n are just two of the many DIY kits that introduce children of all ages into the world of coding and design. Projects like these transition children into more real-life facets of computer science and robotic technology. It gives them a small taste for these research fields and inspires confidence to keep growing and learning. \xa0\nIn addition to DIY kits, look around your house for common, every-day problems or broken appliances. \xa0Challenge your child to look for ways to solve the problem with homemade or robotic solutions. \xa0Can they identify the problem and come up with a list of possible tools and solutions? \xa0With some practice and resources you might be surprised at how innovative they are becoming. \xa0\nCoding Camps\xa0\nWith summer break quickly approaching, summer camps and clubs are great ways for children to spend vacation time. \xa0Coding and robotics camps emphasize tech skills and introduce children to a variety of new tools and hands-on activities. \xa0Based on age and skill range, every child is given the perfect atmosphere for learning. \xa0These camps operate similarly to traditional robotics clubs, but some offer longer experiences that can last over the course of several weeks. \xa0Smaller camps only offer day lessons and activities. Based on your child\'s needs and your schedule, begin planning for a busy, exciting summer experience. \xa0Participating in one of these camps is a life-long investment both you and your child will value. \xa0In addition to the lessons and activities, longer camp experiences allow them to begin building more self-confidence and independence.\xa0\nVisiting a Robotics Museum\nThroughout the country museums such as the \nTech Museum of Innovation \nin San Jose, California, enshrine valuable pieces of technological history. \xa0Their Tech Studio and Reboot Reality exhibits are guest favorites. \xa0During your visit, children can build one or more "social" robots and experience the wonder of artificial intelligence. \xa0Throughout the year, this museum also hosts popular robotic challenges and learning workshops for children of all ages. \xa0In addition to San Jose\'s Tech Museum, many other \nfamous science and technology museums\n\xa0exist around the country. Spending a day at one of these locations is a great way to open their eyes to the future possibilities that lie in the realm of robots and computer science. This is a very non-confrontational way to help build genuine interest and remove any fear or intimidation of robot skills such as coding and design.\xa0\nAlthough not every child will naturally find robotics interesting and enjoyable, it\'s still very wise to expose them to the tools and experiences. Whether they choose to pursue this subject is their choice, but showing them the value of this field allows them to still gain a healthy appreciation for the solutions it presents. \xa0Working to instill a love and interest for robotics always includes valuable benefits both within their school classroom and without.\nHands-on learning is huge at Method. We all learn better through experience rather than simple lectures. Don\'t get us wrong - face-to-face instruction from awesomely talented teachers is important, and it happens at Method. But the application of key learning points is where the magic happens. And that\'s what the Foundry is. Robtics, coding, tech...that\'s what the Foundry is. Our only directive: Create Something (oh...and don\'t lean back on your seat!).\nComments\nSign Up for our Blog\nWe promise that we won\'t SPAM you.\nMORE PLACES TO VISIT\nHOME\nBOARD\nBLOG\nCAREERS\nCONTACT\nSTART ENROLLMENT\nRecent news\nLooking Beyond the Cookie Cutter School System...\n  01 June 2018 \nAll Of Your Method Summer School Questions Answered\n  16 May 2018 \nSubscribe\nSubscribe to Method blog updates:\nContact us\nMethod Schools\n24620 Jefferson Ave\nMurrieta, CA\xa0 92563')

In [4]:
parsed_df_8['WEBTEXT'] = parsed_df_8['WEBTEXT'].apply(ast.literal_eval)

In [7]:
parsed_df_8['WEBTEXT'][2]

[('http://www.lighthouse-academies.org/schools/cclcs/',
  'False',
  '0',
  "LRAFB, AR  72099\nNorth Little Rock\nPine Bluff\nEast Chicago\nGary\nIndianapolis\nBronx\nMap\nConnect with Us\nSign up for E-Newsletter\nLHA Connect\nGet Involved\nNews\nContact\nTerms of Use\nSearch\nSearch\nSearch\nOur Schools\nArkansas\nCapital City\nJacksonville\nJacksonville College Prep Academy\nJLCS Flightline Upper Academy\nPine Bluff\nIndiana\nEast Chicago\nGary Primary Academy (K-2)\nGary Upper Academy (3-7)\nIndianapolis College Prep: South Campus\nIndianapolis Lighthouse - East\nIndianapolis: South Campus\nLighthouse College Prep Academy\nNew York\nBronx\nBronx College Prep\nMet CPA\nMetropolitan\nCapital City Lighthouse Charter School\n\r\t\tAt Lighthouse Academies, we prepare our scholars through rigorous programs that provide them with a foundation that will allow them to succeed in and graduate from college. Our unique arts-infused curriculum, emphasis on social development and integration of diverse cultural opportunities augments learning and broadens horizons.\r\nAR State-Required Information\n\rCapital City Dyslexia Report 2016-2017:\r\nCapital City screened 141 scholars for Dyslexia and 46 received interventions. There were no scholars identified with Dyslexia.\nAbout\nDocuments & Links\nSchool Leaders\nApply\nContact\nAbout\nQuick Facts\nNumber of Scholars:\r\t\t\t205\t\t\nGrades:\r\t\t\tK-7\t\t\nDate Opened:\r\t\t\t\nAugust 17, 2015\nPrincipal:\r\t\t\tAmanda Crowder- Interim Principal\t\t\nFeatures\nSTEAM (Science, Technology, Engineering, Arts, Math) Education Model\nArts-infused approach to Instruction\nCeramics\nMandarin Chinese\nDance\nChoir\nSocial and Emotional Development and Engagement\nMore Time on Instruction: Longer School Day and Year\nCollege Focus\nMonthly Family Saturdays\nFree Transportation\nExtended Learning Program (afterschool tutoring)\nGifted and Talented Program\nAnnual Events\nFall Festival\nBook Fair\nPicture Day and Yearbook\nWinter Pajama Day\nSpring Cardinal Fest\nSpirit Week\nStorybook Character Day\nScholars of the Week and Hour of Power\nPromotion Ceremonies\nGrandparents Day\nEnd of Year Field Lessons\nExtracurricular Activities\nCapital City ShowStoppers\nDrama Club\nArt Club\nJournalism Club\nCreative Writing Club\nBoys Scouts\nPartnerships\nNorth Little Rock Chamber of Commerce\nLondon Bridges Child Care, Inc.\nBoys Scouts of America\nThe G.O.O.D. Barbers\nDREAM\nNAACP\nCarmell's Daycare\nAnnouncements\nNo School\n\rGood Morning Capital City Lighthouse Families,\r\rDue to an electrical outage in the area, Capital City Lighthouse has been canceled for today, Tuesday, May 1st. All scholars who rode the bus have been fed breakfast and will be returning home via bus. Parents please make sure you are available to receive your scholar. School will resume on Wednesday, May 2nd at the normal scheduled time. If you have any questions please contact the school at (501) 607-4639.\r\nAttention Parents: Records Destruction,\xa0June 2019\n\rThe Lighthouse Academies of Arkansas will be destroying the unclaimed Special Education records for students who exited Special Education Services in this district between 2013 and 2014 on or after August 31, 2014. Lighthouse Academies will be sending out letters of notification to parents/guardians or former students last known address. If you do not receive a letter and think that you might have records that would be available for claiming, please contact the Special Education Office.\r\r\xa0\r\nENROLLING NOW all Grades K-7. Contact the school at 501-313-2901 for more information or apply online at www.lighthouse-academies.org.\n\rAccreditation Status 2016-2017- Accredited\r\rCapital City Lighthouse is a Title I School wide school campus for grades K-6\r\rCapital City Lighthouse CPA (7-12) Academy is applying for Title I School Wide for the 18-19 School Year.\r\rCapital City Lighthouse Grade 7-12 is a targeted assistance campus.\r\rCheck out the new website for the \nGifted and Talented Program\nInclement Weather Policy:\r\rIf NLRSD closes due to bad weather, then our school will also close. In the event that weather conditions become hazardous during the school day, our school will follow the NLRSD early dismissal time or advise otherwise using the school's electronic notification system (phone call or text alert).\r\rHow to Apply\r\nApply\n online for 2018 - 2019 school year\nApply in person at Capital City Lighthouse Charter School front office: 3901 Virginia Drive, NLR, AR 501-313-2901 (o)\nCalendar\nMay 2018\n25th-Early Dismissal\n28th-No School (Memorial Day)\nDownload: Lighthouse of Arkansas District Calendar SY 17 18 revised\n\r\t\t\t#iChoose campaign!\t\t\nDocuments & Links\nLatest Documents\nAR State Required Information\nUSDA Nondiscrimination Statement\nAdmin/Teacher Salary & Benefits 2016-17\nCommunity Eligibility Provision\nCapital City Wellness Policy\nPersonnel Policies\nLAA LACA LAPB Personnel Policies 2016-17\nOther Plans and Policies\ncapital-city-lighthouse-charter-schools-district-pi-plan-16-17\nEmployee Contracts\nfy-comp-policy-final-cclcs\nUncategorized\nCCLCS School Supply List 2017-18\nFY18 CCLCS Certified Salaries\nScholar Family Handbooks\n20172018NetworkHandbook__3_\n2017 2018 Network Handbook\nCCLCS Addendum 2017-18 updated\nStudent Applications\nCCLCS Student Application 2018-19 Spanish\nCCLCS Student Application 2018-19\nMenus\nCCLCS Lunch April Breakfast Menu\nCCLCS Lunch April Lunch Menu\nLinks\nHome Access Center (HAC)\nGifted and Talented Program\nDepartment of Education: NCLB\nBoard of Directors Agendas and Minutes\nDocument Archive\nAR State Required Information\n2017-18\nCommunity Eligibility Provision\nCapital City Wellness Policy\nCapital City Wellness Policy\n2016-17\nUSDA Nondiscrimination Statement\nAdmin/Teacher Salary & Benefits 2016-17\nAnnual Reports\n2017-18\n2017_2018 JLCS and CCLCS Annual Report Lighthouse Academies\nEmployee Contracts\n2016-17\nfy-comp-policy-final-cclcs\nEvents\n2015-16\nCCLCS Ribbon Cutting Invitation\nMI Transparency Reporting\n2015-16\nFY Comp Policy Final (2)\nMenus\n2017-18\nMeun Cap City Breakfast\nMeun Cap City Lunch\nCCLCS Lunch April Breakfast Menu\nCCLCS Lunch April Lunch Menu\nNewsletters\n2015-16\nCCLCS. Newsletter. No. 1_15_16\nOther Plans and Policies\n2016-17\ncapital-city-lighthouse-charter-schools-district-pi-plan-16-17\n2015-16\nCCLCS Signature Page\nPolicies\n2015-16\nCCLCS  Parent Involvement Plan  15_16\nScholar Family Handbooks\nCCLCS Scholar Handbook 15-16_Final 7.24.15\n2017-18\n20172018NetworkHandbook__3_\nCCLCS Addendum 2017-18 (edit)\nCCLCS Addendum 2017-18\n2017 2018 Network Handbook\nCCLCS Addendum 2017-18 updated\n2016-17\nHanbook addendum-arkansas_-cclcs\n2015-16\nCCLCS 2015_16 Scholar and Family Handbook\nSchool Calendars\n2016-17\nArkansas LHCS Calendar SY 16 17\nSchool Supply List\n2016-17\nCCLCS  School Supply List  2016\n2015-16\nCCLCS. Supply List and Uniform Prices.15_16\nStudent Applications\n2016-17\nCCLCS Student Application 2016-17\n2015-16\nCCLCS Student Application 2015-16\nCCLCS Student Application 2015-16\nUncategorized\nCCLCS School Supply List 2017-18\nSchool Leaders\nAmanda Crowder\nInterim Principal\namanda.crowder@arkansas.lha.net\nCharneise Turner\nManager of Operations\ncharneise.turner@capitalcity.lha.net\nApply\nBecome a Lighthouse Academy Student\nDiscover, achieve and prepare for success in college and beyond. We will prepare your student academically, socially and culturally to succeed in and graduate from college. \xa0We will develop your student’s critical decision-making skills to prepare him/her for success in life. \xa0Lighthouse Academies offers small schools, small class sizes, longer school year, and longer school day so we can provide students with a high quality education. Don’t wait – apply now to transform your child’s future!\nApply to enroll online »\nDownload: CCLCS Student Application 2018-19\nDownload: CCLCS Student Application 2018-19 Spanish\nJoin Our Team\nAre you fearless, driven and forward-thinking? We need people who want to teach, lead and transform the lives of our students.\xa0We need people who share our passion for creativity and innovation.\xa0We are committed to developing the capacity of our staff with 20 professional days each year, individual coaching and collaboration.\xa0Join us in transforming children’s futures.\nImmediate Position Opening\nSubstitute Teachers\nApply for a position »\nContact\nCapital City Lighthouse Charter School\n\r\t\t\t\t\t3901 Virginia Drive, North Little Rock, AR 72118, USA\t\t\t\t\n34.7913437\r\t\t\t\t\t\n-92.2922668\r\t\t\t\t\nTel:\r\t\t\t\t\t\n(501) 313-2901 \r\t\t\t\t\n\r\t\t\t\t\tFax:\r\t\t\t\t\t\n(501) 313-2910\r\t\t\t\t\n\r\t\t\t\t\tEmail: \ninfo-cclcs@lhacs.org\nSend Us a Message\nName \n*\nEmail \n*\nMessage \n*\nDirections »\n©\r\t\t\t\t\t\t2018 Lighthouse Academies, Inc.\n\r\t\t\t\t\t\tAll rights reserved.\r\t\t\t\t\t")]

In [13]:
parsed_df_7['WEBTEXT'] = parsed_df_7['WEBTEXT'].apply(ast.literal_eval)

In [25]:
parsed_df_7['WEBTEXT'][900][0]

('https://www.lifeskillshs.com/news/a-response-from-our-founder-david-brennan-to-the-plain-dealer-article-on-white-hat-management.html',
 'False',
 '1',
 'High School Diploma vs. GED\nFaculty & Classrooms\nOne on One Learning\nIndividualized Education\nFlexibility for Students\nWhat is Life Skills\r\t\t\t  \nLearn More\nBeyond the Classroom\nPath to Success\nPlanning Your Future\nStudent Success\r\t\t\t  \nRead Stories\nCareer Direction\nInterview Preparation\nHigher Education Assistance\nCareer Certifications\nLocations\nCareers\nNews & Events\nStudent Portal\nEmployee Portal\nContact Us\nNotice & Policies\nNews\nRequest  Information\nStudent Success\nRead Stories\nA Response From Our Founder David Brennan to the Plain Dealer article on White Hat Management\nDear Editor,\n\rFormer Plain Dealer editorial director Brent Larkin recently authored a commentary bashing White Hat Management and Ohio House Speaker William Batchelder.\nA good commentator is obligated to substantiate his or her claims. Larkin attacks the integrity of Speaker Batchelder, who has honorably served his constituents and all Ohioans throughout his remarkable legislative career. The fact that Larkin doesn’t share the Speaker’s views on education policy does not justify a personal attack on such a dedicated public servant.\nLarkin goes on to attack White Hat Management’s performance with unsubstantiated claims that our Life Skills dropout recovery schools are “crappy” and that they have “already failed” Ohio’s youth, which couldn’t be further from the truth.\nFrom their inception in 1999 to this past January, Life Skills has proudly graduated more than 12,000 young people through its dropout and prevention programs. According to experts on the value of a high school diploma, these 12,000 Life Skills graduates potentially add $150 million -- approximately $12,500 each – annually to our economy. Compare that to the annual cost (approximately $40 million) of operating our Life Skills High Schools and it’s clear that funding our program represents a tremendous “bang for the buck” for Ohio taxpayers.\nI suspect there are many people throughout Ohio who scratch their heads every time Mr. Larkin launches one of his personal attacks against a committed public servant. Perhaps an equal number do so when he just can’t seem to get his facts right about Ohio-based companies who are making great strides to help Ohio’s public school students.\nSincerely,\n\rDavid L. Brennan\n\rFounding Chairman\n\rWhite Hat Management\nRequest Information\nFirst Name *\nLast Name *\nEmail *\nPhone *\nZip *\nCity *\nState *\nArizona\nColorado\nOhio\nSchool Interested In\nLife Skills High School of Arizona Ground\nLife Skills High School of Cincinnati\nLife Skills High School of Cleveland\nLife Skills High School of Colorado Springs\nLife Skills High School of Columbus North\nLife Skills High School of Columbus Southeast\nLife Skills High School of Dayton\nLife Skills High School of Elyria\nLife Skills High School of North Akron\nLife Skills High School of Northeast Ohio\nLife Skills High School of Toledo\nLife Skills High School of Youngstown\nSubmit\nLOCATIONS\nFIND YOUR FREEDOM\nLife Skills has locations in Ohio, Arizona and Colorado.\nFind a Location\nYou Can Do It.\nYou can earn your high school diploma and we’re here to help you make your academic goals into reality. Learn more about how Life Skills High School can give you the support you need to succeed.\nEnroll\nRequest Info\nAbout Us\nEarn Your Diploma\nFlexibility for Students\nPlanning Your Future\nLocations\nCareers\nNews & Events\nStudent Portal\nEmployee Portal\nContact Us\nNotice & Policies\n©2016 All Rights Reserved. Life Skills \nPrivacy Policy\n. Designed & Developed by \nUpward Brand Interactions')

In [23]:
parsed_df_7['WEBTEXT']

0       [(https://www.aaechighschools.com/public-chart...
1       [(https://www.aaechighschools.com/public-chart...
2       [(https://www.aaechighschools.com/public-chart...
3       [(https://www.aaechighschools.com/public-chart...
4       [(https://www.aaechighschools.com/index.php, F...
5       [(https://www.aaechighschools.com/index.php, F...
6                                                      []
7       [(http://www.aspirapa.org/hostos/hostos-inform...
8             [(http://www.somersetkey.com/, False, 0, )]
9             [(http://www.somersetkey.com/, False, 0, )]
10         [(http://www.keywestacademy.org/, False, 0, )]
11         [(http://www.keywestacademy.org/, False, 0, )]
12          [(http://www.somersetdavie.com/, False, 0, )]
13          [(http://www.somersetdavie.com/, False, 0, )]
14      [(http://www.somersetacademy-jacksonville.org/...
15      [(http://www.somersetacademy-jacksonville.org/...
16                                                     []
17                                                     []
18       [(https://www.somersetmiramar.com/, False, 0, )]
19       [(https://www.somersetmiramar.com/, False, 0, )]
20      [(http://www.somersetacademy.com/pdf/Student_P...
21      [(http://www.somersetacademy.com/pdf/Student_P...
22      [(http://www.somersetacademy.com/pdf/Student_P...
23      [(https://elementary.somersetsilverpalms.net/,...
24      [(https://elementary.somersetsilverpalms.net/,...
25           [(https://ms.somersetsomi.com/, False, 0, )]
26           [(https://ms.somersetsomi.com/, False, 0, )]
27           [(https://ms.somersetsomi.com/, False, 0, )]
28      [(http://www.somersetacademybay.com/, False, 0...
29      [(http://www.somersetacademybay.com/, False, 0...
                              ...
4964    [(https://asuprep.asu.edu/content/arizona-dept...
4965    [(http://www.incitoschools.org/, False, 0, Edu...
4966    [(https://www.vistacollegeprep.org/2014-2015-a...
4967    [(http://www.risingschool.org/academics/, Fals...
4968    [(https://asuprep.asu.edu/schools/phxmiddle, F...
4969    [(http://mmacademystgeorge.com/important-docum...
4970    [(http://www.laspuertascommunityschool.org/, F...
4971    [(https://www.piecefulsolutions.com/blog-posts...
4972    [(https://madisonhighlandprep.net/college-care...
4973    [(https://www.autismcharter.org/apps/email/ind...
4974    [(http://www.franklinphoneticschoolsunnyslope....
4975    [(http://casaacademy.org/character-education/,...
4976    [(http://www.copperpointschools.org/cougar-chr...
4977    [(https://azlanguageprep.org/, False, 0, FIND ...
4978    [(http://www.horizonhonorselementary.org/acade...
4979    [(https://www.desertstaracademy.org/sports, Fa...
4980    [(http://civ.vail.k12.az.us/home-violet-brown/...
4981    [(http://vahs.vail.k12.az.us/, False, 0, Searc...
4982    [(http://avsouth.org/k-8-program/, False, 0, l...
4983    [(https://www.gwcarveracademy.org/apps/email/i...
4984    [(http://www.warrenar2.gabbarthost.com/267806_...
4985    [(https://se.sesc.k12.ar.us/224660_3, False, 2...
4986    [(http://www.warrenar.gabbarthost.com/268671_3...
4987    [(http://www.warrenar1.gabbarthost.com/267525_...
4988    [(http://mhbombers.com/news/view/44/freedom-is...
4989    [(https://www.lisanorth.org/default.aspx, Fals...
4990    [(https://www.lisanorth.org/default.aspx, Fals...
4991    [(https://www.haashall.org/student-life/academ...
4992    [(http://www.ckcharter.org/parent-resources.ht...
4993    [(http://www.lighthouse-academies.org/schools/...
Name: WEBTEXT, Length: 4994, dtype: object

In [65]:
big_df = pd.read_csv(folder_prefix + "nowdata/parsing/big_df.csv", sep="\t", low_memory=False, encoding="utf-8")

In [66]:
big_df['WEBTEXT'] = big_df['WEBTEXT'].apply(ast.literal_eval)

In [67]:
for i in big_df['WEBTEXT']:
    print(len(i))

154
228
179
250
163
232
166
250
209
173
157
153
219

In [68]:
li_small = []
li_big = []
index = 0
for i in big_df['NUMWORDS']:
    if i < 7316726:
        li_small.append(index)
    else:
        li_big.append(index)
    index+=1

In [69]:
li_small

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12]

In [70]:
li_big

[0, 6]

In [71]:
small_2_df = big_df.iloc[li_small,:]

In [72]:
big_2_df = big_df.iloc[li_big,:]

In [14]:
small_2_df

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,WEBTEXT_METHOD,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,43,345,13,-3.748409,-3.228735,-2.321901,72837
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,5,195,4,-4.119223,-4.022280,-2.431207,52636
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,False,NaN,382,759,183,-3.228263,-2.908315,-2.610395,309540
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,False,NaN,36,91,38,-2.969158,-2.992443,-2.589766,35399
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,22,192,328,-2.057833,-3.231133,-2.288675,37472
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,False,NaN,7,1062,98,-3.065221,-4.211327,-2.029338,113880
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,6,435,7,-3.922933,-3.989858,-2.129468,58618
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,74,351,45,-3.198278,-2.982045,-2.305945,71038
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,47,662,54,-3.046293,-3.106430,-1.957742,60077
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,36,60,25,-3.334639,-3.176027,-2.954299,54023
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,47,113,25,-3.510078,-3.235765,-2.854870,80914

In [15]:
small_2_df.to_csv(folder_prefix + "nowdata/parsing/small_2_df.csv", mode="w", index=False, header=small_2_df.columns.values, sep="\t", encoding="utf-8")

In [73]:
big_2_df.to_csv(folder_prefix + "nowdata/parsing/big_2_df.csv", mode="w", index=False, header=big_2_df.columns.values, sep="\t", encoding="utf-8")

In [74]:
k = pd.read_csv(folder_prefix + "nowdata/parsing/big_2_df.csv", sep="\t", low_memory=False, encoding="utf-8")

In [75]:
k['WEBTEXT'] = k['WEBTEXT'].apply(ast.literal_eval)

In [76]:
for i in k['WEBTEXT']:
    print(len(i))

154
166

In [19]:
for i in big_2_df['WEBTEXT']:
    print(len(i))

154
166

In [24]:
big_2_df['WEBTEXT']

0    [(https://www.methodschools.org/blog/topic/hom...
6    [(https://www.methodschools.org/blog/topic/hom...
Name: WEBTEXT, dtype: object

In [25]:
big_2_df.reset_index(inplace = True)

In [37]:
first_nc = big_2_df['NCESSCH'][0]
sec_nc = big_2_df['NCESSCH'][1]
print(first_nc)
print(sec_nc)

60000113853.0
61071013762.0

In [27]:
big_2_df.drop(columns = ['index'], inplace = True)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [31]:
first_list = big_2_df.iloc[0]['WEBTEXT']

In [33]:
beg_154 = first_list[:len(first_list)//2]
end_154 = first_list[len(first_list)//2:]

In [44]:
second_list = big_2_df.iloc[1]['WEBTEXT']
beg_166 = second_list[:len(second_list)//2]
end_166 = second_list[len(second_list)//2:]

In [46]:
len(beg_166)

83

In [34]:
for tup in beg_154:
    print(len(tup[3]))

460805
461859
461417
461342
461113
4981
461086
461725
461950
461093
461079
461096
461087
3119
461076
6920
461841
10121
461926
461359
461090
461106
461096
461092
461902
461117
4016
461094
1636
461919
461078
461031
3695
461163
461888
461126
460964
461874
461265
461991
461141
10888
460846
461098
784
461238
461127
461777
461100
461665
461434
461104
461091
1805
1299
461181
461205
461696
461711
1304
8566
461044
9296
461839
460791
1618
461210
461107
1793
461168
1917
461595
461457
461123
461090
4117
461097

In [40]:
f = {'NCESSCH': [first_nc, first_nc], 'WEBTEXT': [beg_154, end_154]}
first_154 = pd.DataFrame(data=f)

In [41]:
first_154

        NCESSCH                                            WEBTEXT
0  6.000011e+10  [(https://www.methodschools.org/blog/topic/hom...
1  6.000011e+10  [(https://www.methodschools.org/blog/topic/psy...

In [43]:
for i in first_154['WEBTEXT']:
    print(len(i))

77
77

In [49]:
first_154.to_csv(folder_prefix + "nowdata/parsing/first_154.csv", mode="w", index=False, header=first_154.columns.values, sep="\t", encoding="utf-8")

In [47]:
s = {'NCESSCH': [sec_nc, sec_nc], 'WEBTEXT': [beg_166, end_166]}
second_166 = pd.DataFrame(data=s)

In [48]:
second_166

        NCESSCH                                            WEBTEXT
0  6.107101e+10  [(https://www.methodschools.org/blog/topic/hom...
1  6.107101e+10  [(https://www.methodschools.org/blog/topic/bul...

In [50]:
second_166.to_csv(folder_prefix + "nowdata/parsing/second_166.csv", mode="w", index=False, header=second_166.columns.values, sep="\t", encoding="utf-8")

In [63]:
f = pd.read_csv(folder_prefix + "nowdata/parsing/first_154.csv", sep="\t", low_memory=False, encoding="utf-8")

In [52]:
s = pd.read_csv(folder_prefix + "nowdata/parsing/second_166.csv", sep="\t", low_memory=False, encoding="utf-8")

In [54]:
s['NUMWORDS']

KeyError: 'NUMWORDS'

In [62]:
big_df[big_df['NCESSCH'].isin(list(s['NCESSCH']))] #1 school split into 2 rows

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,WEBTEXT_METHOD,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,42362,84617,42173,-2.281172,-2.275801,-1.978746,8057623

In [64]:
big_df[big_df['NCESSCH'].isin(list(f['NCESSCH']))] #1 school split into 2 rows

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,WEBTEXT_METHOD,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,38471,76840,38285,-2.281288,-2.275754,-1.978726,7316726