In [51]:
import pandas as pd
import ast

folder_prefix = '/home/jovyan/work/'

In [2]:
parsed_df_8 = pd.read_csv(folder_prefix + "nowdata/parsing/parsed_df_8.csv", sep="\t", low_memory=False, encoding="utf-8")

In [3]:
parsed_df_7 = pd.read_csv(folder_prefix + "nowdata/parsing/parsed_df_7.csv", sep="\t", low_memory=False, encoding="utf-8")

In [4]:
parsed_df_8['WEBTEXT'] = parsed_df_8['WEBTEXT'].apply(ast.literal_eval)

In [7]:
parsed_df_8['WEBTEXT'][2]

[('http://www.lighthouse-academies.org/schools/cclcs/',
  'False',
  '0',
  "LRAFB, AR  72099\nNorth Little Rock\nPine Bluff\nEast Chicago\nGary\nIndianapolis\nBronx\nMap\nConnect with Us\nSign up for E-Newsletter\nLHA Connect\nGet Involved\nNews\nContact\nTerms of Use\nSearch\nSearch\nSearch\nOur Schools\nArkansas\nCapital City\nJacksonville\nJacksonville College Prep Academy\nJLCS Flightline Upper Academy\nPine Bluff\nIndiana\nEast Chicago\nGary Primary Academy (K-2)\nGary Upper Academy (3-7)\nIndianapolis College Prep: South Campus\nIndianapolis Lighthouse - East\nIndianapolis: South Campus\nLighthouse College Prep Academy\nNew York\nBronx\nBronx College Prep\nMet CPA\nMetropolitan\nCapital City Lighthouse Charter School\n\r\t\tAt Lighthouse Academies, we prepare our scholars through rigorous programs that provide them with a foundation that will allow them to succeed in and graduate from college. Our unique arts-infused curriculum, emphasis on social development and integration of diverse cultural opportunities augments learning and broadens horizons.\r\nAR State-Required Information\n\rCapital City Dyslexia Report 2016-2017:\r\nCapital City screened 141 scholars for Dyslexia and 46 received interventions. There were no scholars identified with Dyslexia.\nAbout\nDocuments & Links\nSchool Leaders\nApply\nContact\nAbout\nQuick Facts\nNumber of Scholars:\r\t\t\t205\t\t\nGrades:\r\t\t\tK-7\t\t\nDate Opened:\r\t\t\t\nAugust 17, 2015\nPrincipal:\r\t\t\tAmanda Crowder- Interim Principal\t\t\nFeatures\nSTEAM (Science, Technology, Engineering, Arts, Math) Education Model\nArts-infused approach to Instruction\nCeramics\nMandarin Chinese\nDance\nChoir\nSocial and Emotional Development and Engagement\nMore Time on Instruction: Longer School Day and Year\nCollege Focus\nMonthly Family Saturdays\nFree Transportation\nExtended Learning Program (afterschool tutoring)\nGifted and Talented Program\nAnnual Events\nFall Festival\nBook Fair\nPicture Day and Yearbook\nWinter Pajama Day\nSpring Cardinal Fest\nSpirit Week\nStorybook Character Day\nScholars of the Week and Hour of Power\nPromotion Ceremonies\nGrandparents Day\nEnd of Year Field Lessons\nExtracurricular Activities\nCapital City ShowStoppers\nDrama Club\nArt Club\nJournalism Club\nCreative Writing Club\nBoys Scouts\nPartnerships\nNorth Little Rock Chamber of Commerce\nLondon Bridges Child Care, Inc.\nBoys Scouts of America\nThe G.O.O.D. Barbers\nDREAM\nNAACP\nCarmell's Daycare\nAnnouncements\nNo School\n\rGood Morning Capital City Lighthouse Families,\r\rDue to an electrical outage in the area, Capital City Lighthouse has been canceled for today, Tuesday, May 1st. All scholars who rode the bus have been fed breakfast and will be returning home via bus. Parents please make sure you are available to receive your scholar. School will resume on Wednesday, May 2nd at the normal scheduled time. If you have any questions please contact the school at (501) 607-4639.\r\nAttention Parents: Records Destruction,\xa0June 2019\n\rThe Lighthouse Academies of Arkansas will be destroying the unclaimed Special Education records for students who exited Special Education Services in this district between 2013 and 2014 on or after August 31, 2014. Lighthouse Academies will be sending out letters of notification to parents/guardians or former students last known address. If you do not receive a letter and think that you might have records that would be available for claiming, please contact the Special Education Office.\r\r\xa0\r\nENROLLING NOW all Grades K-7. Contact the school at 501-313-2901 for more information or apply online at www.lighthouse-academies.org.\n\rAccreditation Status 2016-2017- Accredited\r\rCapital City Lighthouse is a Title I School wide school campus for grades K-6\r\rCapital City Lighthouse CPA (7-12) Academy is applying for Title I School Wide for the 18-19 School Year.\r\rCapital City Lighthouse Grade 7-12 is a targeted assistance campus.\r\rCheck out the new website for the \nGifted and Talented Program\nInclement Weather Policy:\r\rIf NLRSD closes due to bad weather, then our school will also close. In the event that weather conditions become hazardous during the school day, our school will follow the NLRSD early dismissal time or advise otherwise using the school's electronic notification system (phone call or text alert).\r\rHow to Apply\r\nApply\n online for 2018 - 2019 school year\nApply in person at Capital City Lighthouse Charter School front office: 3901 Virginia Drive, NLR, AR 501-313-2901 (o)\nCalendar\nMay 2018\n25th-Early Dismissal\n28th-No School (Memorial Day)\nDownload: Lighthouse of Arkansas District Calendar SY 17 18 revised\n\r\t\t\t#iChoose campaign!\t\t\nDocuments & Links\nLatest Documents\nAR State Required Information\nUSDA Nondiscrimination Statement\nAdmin/Teacher Salary & Benefits 2016-17\nCommunity Eligibility Provision\nCapital City Wellness Policy\nPersonnel Policies\nLAA LACA LAPB Personnel Policies 2016-17\nOther Plans and Policies\ncapital-city-lighthouse-charter-schools-district-pi-plan-16-17\nEmployee Contracts\nfy-comp-policy-final-cclcs\nUncategorized\nCCLCS School Supply List 2017-18\nFY18 CCLCS Certified Salaries\nScholar Family Handbooks\n20172018NetworkHandbook__3_\n2017 2018 Network Handbook\nCCLCS Addendum 2017-18 updated\nStudent Applications\nCCLCS Student Application 2018-19 Spanish\nCCLCS Student Application 2018-19\nMenus\nCCLCS Lunch April Breakfast Menu\nCCLCS Lunch April Lunch Menu\nLinks\nHome Access Center (HAC)\nGifted and Talented Program\nDepartment of Education: NCLB\nBoard of Directors Agendas and Minutes\nDocument Archive\nAR State Required Information\n2017-18\nCommunity Eligibility Provision\nCapital City Wellness Policy\nCapital City Wellness Policy\n2016-17\nUSDA Nondiscrimination Statement\nAdmin/Teacher Salary & Benefits 2016-17\nAnnual Reports\n2017-18\n2017_2018 JLCS and CCLCS Annual Report Lighthouse Academies\nEmployee Contracts\n2016-17\nfy-comp-policy-final-cclcs\nEvents\n2015-16\nCCLCS Ribbon Cutting Invitation\nMI Transparency Reporting\n2015-16\nFY Comp Policy Final (2)\nMenus\n2017-18\nMeun Cap City Breakfast\nMeun Cap City Lunch\nCCLCS Lunch April Breakfast Menu\nCCLCS Lunch April Lunch Menu\nNewsletters\n2015-16\nCCLCS. Newsletter. No. 1_15_16\nOther Plans and Policies\n2016-17\ncapital-city-lighthouse-charter-schools-district-pi-plan-16-17\n2015-16\nCCLCS Signature Page\nPolicies\n2015-16\nCCLCS  Parent Involvement Plan  15_16\nScholar Family Handbooks\nCCLCS Scholar Handbook 15-16_Final 7.24.15\n2017-18\n20172018NetworkHandbook__3_\nCCLCS Addendum 2017-18 (edit)\nCCLCS Addendum 2017-18\n2017 2018 Network Handbook\nCCLCS Addendum 2017-18 updated\n2016-17\nHanbook addendum-arkansas_-cclcs\n2015-16\nCCLCS 2015_16 Scholar and Family Handbook\nSchool Calendars\n2016-17\nArkansas LHCS Calendar SY 16 17\nSchool Supply List\n2016-17\nCCLCS  School Supply List  2016\n2015-16\nCCLCS. Supply List and Uniform Prices.15_16\nStudent Applications\n2016-17\nCCLCS Student Application 2016-17\n2015-16\nCCLCS Student Application 2015-16\nCCLCS Student Application 2015-16\nUncategorized\nCCLCS School Supply List 2017-18\nSchool Leaders\nAmanda Crowder\nInterim Principal\namanda.crowder@arkansas.lha.net\nCharneise Turner\nManager of Operations\ncharneise.turner@capitalcity.lha.net\nApply\nBecome a Lighthouse Academy Student\nDiscover, achieve and prepare for success in college and beyond. We will prepare your student academically, socially and culturally to succeed in and graduate from college. \xa0We will develop your student’s critical decision-making skills to prepare him/her for success in life. \xa0Lighthouse Academies offers small schools, small class sizes, longer school year, and longer school day so we can provide students with a high quality education. Don’t wait – apply now to transform your child’s future!\nApply to enroll online »\nDownload: CCLCS Student Application 2018-19\nDownload: CCLCS Student Application 2018-19 Spanish\nJoin Our Team\nAre you fearless, driven and forward-thinking? We need people who want to teach, lead and transform the lives of our students.\xa0We need people who share our passion for creativity and innovation.\xa0We are committed to developing the capacity of our staff with 20 professional days each year, individual coaching and collaboration.\xa0Join us in transforming children’s futures.\nImmediate Position Opening\nSubstitute Teachers\nApply for a position »\nContact\nCapital City Lighthouse Charter School\n\r\t\t\t\t\t3901 Virginia Drive, North Little Rock, AR 72118, USA\t\t\t\t\n34.7913437\r\t\t\t\t\t\n-92.2922668\r\t\t\t\t\nTel:\r\t\t\t\t\t\n(501) 313-2901 \r\t\t\t\t\n\r\t\t\t\t\tFax:\r\t\t\t\t\t\n(501) 313-2910\r\t\t\t\t\n\r\t\t\t\t\tEmail: \ninfo-cclcs@lhacs.org\nSend Us a Message\nName \n*\nEmail \n*\nMessage \n*\nDirections »\n©\r\t\t\t\t\t\t2018 Lighthouse Academies, Inc.\n\r\t\t\t\t\t\tAll rights reserved.\r\t\t\t\t\t")]

In [13]:
parsed_df_7['WEBTEXT'] = parsed_df_7['WEBTEXT'].apply(ast.literal_eval)

In [25]:
parsed_df_7['WEBTEXT'][900][0]

('https://www.lifeskillshs.com/news/a-response-from-our-founder-david-brennan-to-the-plain-dealer-article-on-white-hat-management.html',
 'False',
 '1',
 'High School Diploma vs. GED\nFaculty & Classrooms\nOne on One Learning\nIndividualized Education\nFlexibility for Students\nWhat is Life Skills\r\t\t\t  \nLearn More\nBeyond the Classroom\nPath to Success\nPlanning Your Future\nStudent Success\r\t\t\t  \nRead Stories\nCareer Direction\nInterview Preparation\nHigher Education Assistance\nCareer Certifications\nLocations\nCareers\nNews & Events\nStudent Portal\nEmployee Portal\nContact Us\nNotice & Policies\nNews\nRequest  Information\nStudent Success\nRead Stories\nA Response From Our Founder David Brennan to the Plain Dealer article on White Hat Management\nDear Editor,\n\rFormer Plain Dealer editorial director Brent Larkin recently authored a commentary bashing White Hat Management and Ohio House Speaker William Batchelder.\nA good commentator is obligated to substantiate his or her claims. Larkin attacks the integrity of Speaker Batchelder, who has honorably served his constituents and all Ohioans throughout his remarkable legislative career. The fact that Larkin doesn’t share the Speaker’s views on education policy does not justify a personal attack on such a dedicated public servant.\nLarkin goes on to attack White Hat Management’s performance with unsubstantiated claims that our Life Skills dropout recovery schools are “crappy” and that they have “already failed” Ohio’s youth, which couldn’t be further from the truth.\nFrom their inception in 1999 to this past January, Life Skills has proudly graduated more than 12,000 young people through its dropout and prevention programs. According to experts on the value of a high school diploma, these 12,000 Life Skills graduates potentially add $150 million -- approximately $12,500 each – annually to our economy. Compare that to the annual cost (approximately $40 million) of operating our Life Skills High Schools and it’s clear that funding our program represents a tremendous “bang for the buck” for Ohio taxpayers.\nI suspect there are many people throughout Ohio who scratch their heads every time Mr. Larkin launches one of his personal attacks against a committed public servant. Perhaps an equal number do so when he just can’t seem to get his facts right about Ohio-based companies who are making great strides to help Ohio’s public school students.\nSincerely,\n\rDavid L. Brennan\n\rFounding Chairman\n\rWhite Hat Management\nRequest Information\nFirst Name *\nLast Name *\nEmail *\nPhone *\nZip *\nCity *\nState *\nArizona\nColorado\nOhio\nSchool Interested In\nLife Skills High School of Arizona Ground\nLife Skills High School of Cincinnati\nLife Skills High School of Cleveland\nLife Skills High School of Colorado Springs\nLife Skills High School of Columbus North\nLife Skills High School of Columbus Southeast\nLife Skills High School of Dayton\nLife Skills High School of Elyria\nLife Skills High School of North Akron\nLife Skills High School of Northeast Ohio\nLife Skills High School of Toledo\nLife Skills High School of Youngstown\nSubmit\nLOCATIONS\nFIND YOUR FREEDOM\nLife Skills has locations in Ohio, Arizona and Colorado.\nFind a Location\nYou Can Do It.\nYou can earn your high school diploma and we’re here to help you make your academic goals into reality. Learn more about how Life Skills High School can give you the support you need to succeed.\nEnroll\nRequest Info\nAbout Us\nEarn Your Diploma\nFlexibility for Students\nPlanning Your Future\nLocations\nCareers\nNews & Events\nStudent Portal\nEmployee Portal\nContact Us\nNotice & Policies\n©2016 All Rights Reserved. Life Skills \nPrivacy Policy\n. Designed & Developed by \nUpward Brand Interactions')

In [23]:
parsed_df_7['WEBTEXT']

0       [(https://www.aaechighschools.com/public-chart...
1       [(https://www.aaechighschools.com/public-chart...
2       [(https://www.aaechighschools.com/public-chart...
3       [(https://www.aaechighschools.com/public-chart...
4       [(https://www.aaechighschools.com/index.php, F...
5       [(https://www.aaechighschools.com/index.php, F...
6                                                      []
7       [(http://www.aspirapa.org/hostos/hostos-inform...
8             [(http://www.somersetkey.com/, False, 0, )]
9             [(http://www.somersetkey.com/, False, 0, )]
10         [(http://www.keywestacademy.org/, False, 0, )]
11         [(http://www.keywestacademy.org/, False, 0, )]
12          [(http://www.somersetdavie.com/, False, 0, )]
13          [(http://www.somersetdavie.com/, False, 0, )]
14      [(http://www.somersetacademy-jacksonville.org/...
15      [(http://www.somersetacademy-jacksonville.org/...
16                                                     []
17                                                     []
18       [(https://www.somersetmiramar.com/, False, 0, )]
19       [(https://www.somersetmiramar.com/, False, 0, )]
20      [(http://www.somersetacademy.com/pdf/Student_P...
21      [(http://www.somersetacademy.com/pdf/Student_P...
22      [(http://www.somersetacademy.com/pdf/Student_P...
23      [(https://elementary.somersetsilverpalms.net/,...
24      [(https://elementary.somersetsilverpalms.net/,...
25           [(https://ms.somersetsomi.com/, False, 0, )]
26           [(https://ms.somersetsomi.com/, False, 0, )]
27           [(https://ms.somersetsomi.com/, False, 0, )]
28      [(http://www.somersetacademybay.com/, False, 0...
29      [(http://www.somersetacademybay.com/, False, 0...
                              ...
4964    [(https://asuprep.asu.edu/content/arizona-dept...
4965    [(http://www.incitoschools.org/, False, 0, Edu...
4966    [(https://www.vistacollegeprep.org/2014-2015-a...
4967    [(http://www.risingschool.org/academics/, Fals...
4968    [(https://asuprep.asu.edu/schools/phxmiddle, F...
4969    [(http://mmacademystgeorge.com/important-docum...
4970    [(http://www.laspuertascommunityschool.org/, F...
4971    [(https://www.piecefulsolutions.com/blog-posts...
4972    [(https://madisonhighlandprep.net/college-care...
4973    [(https://www.autismcharter.org/apps/email/ind...
4974    [(http://www.franklinphoneticschoolsunnyslope....
4975    [(http://casaacademy.org/character-education/,...
4976    [(http://www.copperpointschools.org/cougar-chr...
4977    [(https://azlanguageprep.org/, False, 0, FIND ...
4978    [(http://www.horizonhonorselementary.org/acade...
4979    [(https://www.desertstaracademy.org/sports, Fa...
4980    [(http://civ.vail.k12.az.us/home-violet-brown/...
4981    [(http://vahs.vail.k12.az.us/, False, 0, Searc...
4982    [(http://avsouth.org/k-8-program/, False, 0, l...
4983    [(https://www.gwcarveracademy.org/apps/email/i...
4984    [(http://www.warrenar2.gabbarthost.com/267806_...
4985    [(https://se.sesc.k12.ar.us/224660_3, False, 2...
4986    [(http://www.warrenar.gabbarthost.com/268671_3...
4987    [(http://www.warrenar1.gabbarthost.com/267525_...
4988    [(http://mhbombers.com/news/view/44/freedom-is...
4989    [(https://www.lisanorth.org/default.aspx, Fals...
4990    [(https://www.lisanorth.org/default.aspx, Fals...
4991    [(https://www.haashall.org/student-life/academ...
4992    [(http://www.ckcharter.org/parent-resources.ht...
4993    [(http://www.lighthouse-academies.org/schools/...
Name: WEBTEXT, Length: 4994, dtype: object

In [65]:
big_df = pd.read_csv(folder_prefix + "nowdata/parsing/big_df.csv", sep="\t", low_memory=False, encoding="utf-8")

In [66]:
big_df['WEBTEXT'] = big_df['WEBTEXT'].apply(ast.literal_eval)

In [67]:
for i in big_df['WEBTEXT']:
    print(len(i))

154
228
179
250
163
232
166
250
209
173
157
153
219

In [68]:
li_small = []
li_big = []
index = 0
for i in big_df['NUMWORDS']:
    if i < 7316726:
        li_small.append(index)
    else:
        li_big.append(index)
    index+=1

In [69]:
li_small

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12]

In [70]:
li_big

[0, 6]

In [71]:
small_2_df = big_df.iloc[li_small,:]

In [72]:
big_2_df = big_df.iloc[li_big,:]

In [14]:
small_2_df

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,WEBTEXT_METHOD,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,43,345,13,-3.748409,-3.228735,-2.321901,72837
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,5,195,4,-4.119223,-4.022280,-2.431207,52636
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,False,NaN,382,759,183,-3.228263,-2.908315,-2.610395,309540
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,False,NaN,36,91,38,-2.969158,-2.992443,-2.589766,35399
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,22,192,328,-2.057833,-3.231133,-2.288675,37472
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,False,NaN,7,1062,98,-3.065221,-4.211327,-2.029338,113880
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,6,435,7,-3.922933,-3.989858,-2.129468,58618
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,74,351,45,-3.198278,-2.982045,-2.305945,71038
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,47,662,54,-3.046293,-3.106430,-1.957742,60077
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,36,60,25,-3.334639,-3.176027,-2.954299,54023
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,47,113,25,-3.510078,-3.235765,-2.854870,80914

In [15]:
small_2_df.to_csv(folder_prefix + "nowdata/parsing/small_2_df.csv", mode="w", index=False, header=small_2_df.columns.values, sep="\t", encoding="utf-8")

In [73]:
big_2_df.to_csv(folder_prefix + "nowdata/parsing/big_2_df.csv", mode="w", index=False, header=big_2_df.columns.values, sep="\t", encoding="utf-8")

In [74]:
k = pd.read_csv(folder_prefix + "nowdata/parsing/big_2_df.csv", sep="\t", low_memory=False, encoding="utf-8")

In [75]:
k['WEBTEXT'] = k['WEBTEXT'].apply(ast.literal_eval)

In [76]:
for i in k['WEBTEXT']:
    print(len(i))

154
166

In [19]:
for i in big_2_df['WEBTEXT']:
    print(len(i))

154
166

In [24]:
big_2_df['WEBTEXT']

0    [(https://www.methodschools.org/blog/topic/hom...
6    [(https://www.methodschools.org/blog/topic/hom...
Name: WEBTEXT, dtype: object

In [25]:
big_2_df.reset_index(inplace = True)

In [37]:
first_nc = big_2_df['NCESSCH'][0]
sec_nc = big_2_df['NCESSCH'][1]
print(first_nc)
print(sec_nc)

60000113853.0
61071013762.0

In [27]:
big_2_df.drop(columns = ['index'], inplace = True)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [31]:
first_list = big_2_df.iloc[0]['WEBTEXT']

In [33]:
beg_154 = first_list[:len(first_list)//2]
end_154 = first_list[len(first_list)//2:]

In [44]:
second_list = big_2_df.iloc[1]['WEBTEXT']
beg_166 = second_list[:len(second_list)//2]
end_166 = second_list[len(second_list)//2:]

In [46]:
len(beg_166)

83

In [34]:
for tup in beg_154:
    print(len(tup[3]))

460805
461859
461417
461342
461113
4981
461086
461725
461950
461093
461079
461096
461087
3119
461076
6920
461841
10121
461926
461359
461090
461106
461096
461092
461902
461117
4016
461094
1636
461919
461078
461031
3695
461163
461888
461126
460964
461874
461265
461991
461141
10888
460846
461098
784
461238
461127
461777
461100
461665
461434
461104
461091
1805
1299
461181
461205
461696
461711
1304
8566
461044
9296
461839
460791
1618
461210
461107
1793
461168
1917
461595
461457
461123
461090
4117
461097

In [40]:
f = {'NCESSCH': [first_nc, first_nc], 'WEBTEXT': [beg_154, end_154]}
first_154 = pd.DataFrame(data=f)

In [41]:
first_154

        NCESSCH                                            WEBTEXT
0  6.000011e+10  [(https://www.methodschools.org/blog/topic/hom...
1  6.000011e+10  [(https://www.methodschools.org/blog/topic/psy...

In [43]:
for i in first_154['WEBTEXT']:
    print(len(i))

77
77

In [49]:
first_154.to_csv(folder_prefix + "nowdata/parsing/first_154.csv", mode="w", index=False, header=first_154.columns.values, sep="\t", encoding="utf-8")

In [47]:
s = {'NCESSCH': [sec_nc, sec_nc], 'WEBTEXT': [beg_166, end_166]}
second_166 = pd.DataFrame(data=s)

In [48]:
second_166

        NCESSCH                                            WEBTEXT
0  6.107101e+10  [(https://www.methodschools.org/blog/topic/hom...
1  6.107101e+10  [(https://www.methodschools.org/blog/topic/bul...

In [50]:
second_166.to_csv(folder_prefix + "nowdata/parsing/second_166.csv", mode="w", index=False, header=second_166.columns.values, sep="\t", encoding="utf-8")

In [63]:
f = pd.read_csv(folder_prefix + "nowdata/parsing/first_154.csv", sep="\t", low_memory=False, encoding="utf-8")

In [52]:
s = pd.read_csv(folder_prefix + "nowdata/parsing/second_166.csv", sep="\t", low_memory=False, encoding="utf-8")

In [54]:
s['NUMWORDS']

KeyError: 'NUMWORDS'

In [62]:
big_df[big_df['NCESSCH'].isin(list(s['NCESSCH']))] #1 school split into 2 rows

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,WEBTEXT_METHOD,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,42362,84617,42173,-2.281172,-2.275801,-1.978746,8057623

In [64]:
big_df[big_df['NCESSCH'].isin(list(f['NCESSCH']))] #1 school split into 2 rows

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,WEBTEXT_METHOD,REPLACED,CMO_REPLACED,PROG_COUNT,RIT_COUNT,ESS_COUNT,ESS_STR,PROG_STR,RIT_STR,NUMWORDS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,False,NaN,38471,76840,38285,-2.281288,-2.275754,-1.978726,7316726