In [2]:
import sqlite3
import csv
import pandas as pd
import os
import re

import math
from tqdm import tqdm
import multiprocessing as mp
import time
import sched
import ast
import numpy as np
import os

folder_prefix = '/home/jovyan/work/'

In [3]:
full_250_df = pd.read_pickle(folder_prefix + "charters_full_2015_15_250.pkl")

In [4]:
full_250_df

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,SEARCH16,TOTETH,PCTETH,AGE,PCTFRL,PLACE,STR,WEBTEXT_METHOD,REPLACED,CMO_REPLACED
0,AAEC,1320.0,ARIZONA AGRIBUSINESS & EQUINE CENTER - ESTRELLA,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,NaN,NaN,...,ARIZONA AGRIBUSINESS & EQUINE CENTER - ESTRELL...,239.0,0.497917,5.0,-0.002083,Suburb,-480.000000,3,False,False
1,Arizona Agribusiness & Equine Center,1320.0,ARIZONA AGRIBUSINESS & EQUINE CENTER - ESTRELLA,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,CMO,1220.0,...,ARIZONA AGRIBUSINESS & EQUINE CENTER - ESTRELL...,239.0,0.497917,5.0,-0.002083,Suburb,-480.000000,3,False,False
2,AAEC,1320.0,AAEC - SMCC CAMPUS,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,NaN,NaN,...,"AAEC - SMCC CAMPUS 7050 S. 24th Street , Phoe...",396.0,0.912442,10.0,0.649770,City,-434.000000,3,False,False
3,Arizona Agribusiness & Equine Center,1320.0,AAEC - SMCC CAMPUS,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,CMO,1220.0,...,"AAEC - SMCC CAMPUS 7050 S. 24th Street , Phoe...",396.0,0.912442,10.0,0.649770,City,-434.000000,3,False,False
4,AAEC,1320.0,AAEC - PARADISE VALLEY,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,NaN,NaN,...,AAEC - PARADISE VALLEY 17811 North 32nd Stree...,81.0,0.199507,17.0,-0.002463,City,-406.000000,3,False,False
5,Arizona Agribusiness & Equine Center,1320.0,AAEC - PARADISE VALLEY,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,CMO,1220.0,...,AAEC - PARADISE VALLEY 17811 North 32nd Stree...,81.0,0.199507,17.0,-0.002463,City,-406.000000,3,False,False
6,ACADEMY OF SKILLS AND KNOWLEDGE,1161.0,CUMBERLAND ACADEMY MIDDLE,TX,4.0,http://www.cumberlandacademy.com/,1.0,TX,NaN,NaN,...,"CUMBERLAND ACADEMY MIDDLE 1040 SHILOH RD , TY...",240.0,0.471513,2.0,0.379175,City,12.469378,3,False,False
7,ACADEMY OF SKILLS AND KNOWLEDGE,1161.0,CUMBERLAND H S,TX,4.0,http://www.cumberlandacademy.com/,1.0,TX,NaN,NaN,...,"CUMBERLAND H S 7200 PALUXY RD , TYLER TX 7570...",59.0,0.385621,0.0,NaN,Rural,NaN,3,False,False
8,ACADEMY OF SKILLS AND KNOWLEDGE,1161.0,CUMBERLAND ACADEMY,TX,4.0,http://www.cumberlandacademy.com/,1.0,TX,NaN,NaN,...,"CUMBERLAND ACADEMY 1340 SHILOH RD , TYLER TX ...",217.0,0.434870,17.0,0.408818,City,13.773116,3,False,False
9,ACCELERATED INTERMEDIATE ACADEMY,281.0,ACCELERATED INTERDISCIPLINARY ACAD,TX,3.0,http://www.aiacharterschools.org/,1.0,TX,NaN,NaN,...,ACCELERATED INTERDISCIPLINARY ACAD 12825 SUMM...,276.0,0.982206,11.0,0.864769,City,16.676558,3,False,False
10,ACCELERATED INTERMEDIATE ACADEMY,281.0,ACCELERATED INT CHARTER SCHOOL,TX,3.0,http://www.aiacharterschools.org/,1.0,TX,NaN,NaN,...,ACCELERATED INT CHARTER SCHOOL 12825 SUMMIT R...,NaN,NaN,14.0,NaN,City,NaN,3,False,False
11,ACCELERATED INTERMEDIATE ACADEMY,281.0,AIA LANCASTER EL,TX,3.0,http://www.aiacharterschools.org/,1.0,TX,NaN,NaN,...,"AIA LANCASTER EL 901 E BELTLINE RD , LANCASTE...",NaN,NaN,5.0,NaN,Rural,NaN,3,False,False
12,ACCELERATED INTERMEDIATE ACADEMY,281.0,AIA LANCASTER MIDDLE,TX,3.0,http://www.aiacharterschools.org/,1.0,TX,NaN,NaN,...,"AIA LANCASTER MIDDLE 901 E BELTLINE RD , LANC...",NaN,NaN,5.0,NaN,Rural,NaN,3,False,False
13,ACE Public Charter Schools,953.0,ACE CHARTER HIGH,CA,4.0,https://www.acecharter.org/,1.0,CA,NaN,NaN,...,"ACE CHARTER HIGH 1776 Edal Park Dr. , San Jos...",265.0,0.992509,3.0,0.816479,City,22.250000,3,False,False
14,ACE Public Charter Schools,953.0,ACE EMPOWER ACADEMY,CA,4.0,https://www.acecharter.org/,1.0,CA,NaN,NaN,...,"ACE EMPOWER ACADEMY 625 S. Sunset Ave. , San ...",349.0,0.994302,7.0,1.088319,City,29.250000,3,False,False
15,ACE Public Charter Schools,953.0,ACE INSPIRE ACADEMY,CA,4.0,https://www.acecharter.org/,1.0,CA,NaN,NaN,...,"ACE INSPIRE ACADEMY 1155 E. Julian St. , San ...",110.0,0.990991,0.0,NaN,City,NaN,3,False,False
16,ACE Public Charter Schools,953.0,ACE FRANKLIN MCKINLEY,CA,4.0,https://www.acecharter.org/,1.0,CA,NaN,NaN,...,"ACE FRANKLIN MCKINLEY 1665 Santee Dr. , San J...",219.0,0.977679,1.0,0.642857,City,44.800000,3,False,False
17,"ARISTOI CLASSICAL ACADEMY, INC.",644.0,ARISTOI CLASSICAL ACADEMY,TX,2.0,http://www.aristoiclassical.org/,1.0,TX,NaN,NaN,...,"ARISTOI CLASSICAL ACADEMY 5618 W 11TH ST , KA...",211.0,0.467849,17.0,0.166297,Suburb,19.540728,3,False,False
18,"ARISTOI CLASSICAL ACADEMY, INC.",644.0,ARISTOI CLASSICAL UPPER SCHOOL,TX,2.0,http://www.aristoiclassical.org/,1.0,TX,NaN,NaN,...,"ARISTOI CLASSICAL UPPER SCHOOL 906 AVE A , KA...",87.0,0.450777,1.0,0.129534,Suburb,18.611379,3,False,False
19,ARLINGTON CLASSICS ACADEMY,1442.0,ARLINGTON CLASSICS ACADEMY - MIDDLE,TX,3.0,http://www.acaedu.net/,1.0,TX,NaN,NaN,...,ARLINGTON CLASSICS ACADEMY - MIDDLE 5200 S BO...,229.0,0.596354,4.0,0.179688,City,19.482496,3,False,False
20,ARLINGTON CLASSICS ACADEMY,1442.0,ARLINGTON CLASSICS ACADEMY - PRI,TX,3.0,http://www.acaedu.net/,1.0,TX,NaN,NaN,...,ARLINGTON CLASSICS ACADEMY - PRI 2800 W ARKAN...,281.0,0.529190,16.0,0.156309,Suburb,17.123509,3,False,False
21,ARLINGTON CLASSICS ACADEMY,1442.0,ARLINGTON CLASSICS ACADEMY -INTERMEDIATE,TX,3.0,http://www.acaedu.net/,1.0,TX,NaN,NaN,...,ARLINGTON CLASSICS ACADEMY -INTERMEDIATE 5200...,300.0,0.569260,4.0,0.178368,City,19.039017,3,False,False
22,ASPIRA of PA,3966.0,ANTONIA PANTOJA COMMUNITY CHARTER SCHOOL,PA,5.0,http://www.aspirapa.org/,1.0,PA,CMO,3494.0,...,ANTONIA PANTOJA COMMUNITY CHARTER SCHOOL 4101...,704.0,0.997167,7.0,1.022663,City,11.966102,3,False,False
23,"OmniVest Properties Management, LLC",7075.0,ANTONIA PANTOJA COMMUNITY CHARTER SCHOOL,PA,19.0,http://www.omnivestllc.com/omnivest_properties/,1.0,PA,VOS,5313.0,...,ANTONIA PANTOJA COMMUNITY CHARTER SCHOOL 4101...,704.0,0.997167,7.0,1.022663,City,11.966102,3,False,False
24,ASPIRA of PA,3966.0,ASPIRA BILINGUAL CYBER CHARTER SCHOOL,PA,5.0,http://www.aspirapa.org/,1.0,PA,CMO,3494.0,...,ASPIRA BILINGUAL CYBER CHARTER SCHOOL 4322 No...,196.0,1.000000,5.0,0.678571,City,24.500000,3,False,False
25,"OmniVest Properties Management, LLC",7075.0,ASPIRA BILINGUAL CYBER CHARTER SCHOOL,PA,19.0,http://www.omnivestllc.com/omnivest_properties/,1.0,PA,VOS,5313.0,...,ASPIRA BILINGUAL CYBER CHARTER SCHOOL 4322 No...,196.0,1.000000,5.0,0.678571,City,24.500000,3,False,False
26,ASPIRA of PA,3966.0,OLNEY CHARTER HIGH SCHOOL,PA,5.0,http://www.aspirapa.org/,1.0,PA,CMO,3494.0,...,OLNEY CHARTER HIGH SCHOOL 100 W Duncannon Ave...,1705.0,0.988406,4.0,0.967536,City,13.167939,3,False,False
27,ASPIRA of PA,3966.0,JOHN B. STETSON CHARTER SCHOOL,PA,5.0,http://www.aspirapa.org/,1.0,PA,CMO,3494.0,...,JOHN B. STETSON CHARTER SCHOOL 3200 B Street ...,849.0,0.988359,5.0,0.912689,City,12.632353,3,False,False
28,ASPIRA of PA,3966.0,EUGENIO MARIA DE HOSTOS CS,PA,5.0,http://www.aspirapa.org/,1.0,PA,CMO,3494.0,...,EUGENIO MARIA DE HOSTOS CS 6310 N 2nd Street ...,477.0,0.993750,17.0,0.968750,City,12.972973,3,False,False
29,Academica,48541.0,SOMERSET ACADEMY KEY CHARTER HIGH SCHOOL,FL,108.0,http://www.academica.org/,6.0,"FL,UT,CA,NV,TX,DC",VOS,23788.0,...,SOMERSET ACADEMY KEY CHARTER HIGH SCHOOL 959 ...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NEXUS STEM ACADEMY MIDDLE SCHOOL 8220 East Sh...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"KA @ THE CROSSINGS 5320 Hickory Hollow PW , A...",NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"CATES ACADEMY 9920 W SAM HOUSTON PKWY S STE ,...",NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"DR TERRY ROBBINS MIDDLE 602 S RAGUET , LUFKIN...",NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ATHLOS LEADERSHIP ACADEMY - BROWNSVILLE 4955 ...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EDUCATION CENTER INTERNATIONAL ACADEMY 3 201 ...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"VANGUARD BEETHOVEN 2215 S VETERANS BLVD , EDI...",NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SCHOOL OF SCIENCE AND TECHNOLOGY HOUSTON 1620...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"THE RHODES SCHOOL - HUMBLE 600 CHARLES ST , H...",NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"THE RHODES SCHOOL - NW 6601 ANTOINE , HOUSTON...",NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SCHOOL OF SCIENCE AND TECHNOLOGY ADVANCEMENT ...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LEADERSHIP PREP SCHOOL SECONDARY 8500 TEEL PK...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NEWMAN INTERNATIONAL ACADEMY AT HIGHLANDS 701...,NaN,NaN,NaN,NaN,NaN,NaN,3,False,NaN
11504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EXCEL CENTER LOCKHART 1400 E MLK INDUSTRIAL B...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PIONEER TECHNOLOGY (PTAA) GREENVILLE MIDDLE 3...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"TRIVIUM ACADEMY 2205 E HEBRON PKWY , CARROLLT...",NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"COMPASS ROSE ACADEMY 117 ROCKHILL DR , SAN AN...",NaN,NaN,NaN,NaN,NaN,NaN,3,False,NaN
11508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"GOODWATER MONTESSORI SCHOOL 700 STADIUM WAY ,...",NaN,NaN,NaN,NaN,NaN,NaN,3,False,NaN
11509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,VICTORY PREPARATORY ACADEMY NORTH 2903 JENSEN...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,VICTORY PREPARATORY K-8 ACADEMY 2903 JENSEN D...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,VICTORY PREPARATORY ACADEMY SOUTH 6011 W OREM...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN
11512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,KELLER CENTER FOR ADVANCED LEARNING 201 BURSE...,NaN,NaN,NaN,NaN,NaN,NaN,3,False,NaN
11513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PALESTINE CAREER AND TECHNICAL H S 1007 E PAR...,NaN,NaN,NaN,NaN,NaN,NaN,3,False,NaN
11514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LEADERSHIP LEARNING ACADEMY - OGDEN TEMP: 100...,NaN,NaN,NaN,NaN,NaN,NaN,3,False,NaN
11515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ASCENT ACADEMIES OF UTAH - WEST VALLEY TEMP: ...,NaN,NaN,NaN,NaN,NaN,NaN,3,False,NaN
11516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,REAL SALT LAKE ACADEMY HIGH SCHOOL 9256 S. St...,NaN,NaN,NaN,NaN,NaN,NaN,3,False,NaN
11517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MILWAUKEE COLLEGE PREPARATORY SCHOOL -- 36TH S...,NaN,NaN,NaN,NaN,NaN,NaN,3,False,NaN
11518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MILWAUKEE COLLEGE PREPARATORY SCHOOL: LOLA ROW...,NaN,NaN,NaN,NaN,NaN,NaN,3,False,NaN
11519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,UNIVERSAL ACADEMY FOR THE COLLEGE BOUND RENAIS...,NaN,NaN,NaN,NaN,NaN,NaN,3,False,NaN
11520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PODER ACADEMY SECONDARY SCHOOL 2201 Morrie Av...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,NaN

In [5]:
parsed_df_6 = pd.read_csv(folder_prefix + "nowdata/parsing/parsed_df_6.csv", sep="\t", low_memory=False, encoding="utf-8")

In [6]:
parsed_df_5 = pd.read_csv(folder_prefix + "nowdata/parsing/parsed_df_5.csv", sep="\t", low_memory=False, encoding="utf-8")

In [7]:
parsed_df_4 = pd.read_csv(folder_prefix + "nowdata/parsing/parsed_df_4.csv", sep="\t", low_memory=False, encoding="utf-8")

In [8]:
parsed_df_3 = pd.read_csv(folder_prefix + "nowdata/parsing/parsed_df_3.csv", sep="\t", low_memory=False, encoding="utf-8")

In [9]:
parsed_df_2 = pd.read_csv(folder_prefix + "nowdata/parsing/parsed_df_2.csv", sep="\t", low_memory=False, encoding="utf-8")

In [10]:
parsed_df_1 = pd.read_csv(folder_prefix + 'nowdata/parsing/parsed_df_1.tar.gz', compression='gzip', sep='\t', low_memory=False, encoding="utf-8")

In [11]:
lookup = pd.DataFrame(columns=['NCESSCH','OVERLAPS_REMOVED','DATA_SOURCE'])

In [12]:
for i in parsed_df_1.columns:
    
    print(i)

parsed_df_1.csv
CMO_MEMSUM
SCH_NAME
CMO_STATE
CMO_SCHNUM
CMO_URL
CMO_NUMSTATES
CMO_ALLSTATES
CMO_SECTOR
CMO_NUMSTUDENTS_CREDO17
CMO_TYPE
CMO_WEBTEXT
SURVYEAR
FIPST
STABR
SEANAME
LEAID
ST_LEAID
SCHID
ST_SCHID
NCESSCH
MSTREET1
MSTREET2
MSTREET3
MCITY
MSTATE
MZIP
MZIP4
PHONE
LSTREET1
LSTREET2
LSTREET3
LCITY
LSTATE
LZIP
LZIP4
UNION
OUT_OF_STATE_FLAG
SCH_TYPE_TEXT
SCH_TYPE
RECON_STATUS
GSLO
GSHI
LEVEL
VIRTUAL
BIES
SY_STATUS_TEXT
SY_STATUS
UPDATED_STATUS_TEXT
UPDATED_STATUS
EFFECTIVE_DATE
CHARTER_TEXT
G13OFFERED
AEOFFERED
UGOFFERED
NOGRADES
CHARTAUTH1
CHARTAUTHN1
CHARTAUTH2
CHARTAUTHN2
IGOFFERED
WEBSITE
FRELCH
REDLCH
AE
TOTAL
AM
AMALM
AMALF
AS
ASALM
ASALF
HI
HIALM
HIALF
BL
BLALM
BLALF
WH
WHALM
WHALF
HP
HPALM
HPALF
TR
TRALM
TRALF
TITLEI_TEXT
TITLEI_STATUS
STITLEI
SHARED_TIME
MAGNET_TEXT
NSLPSTATUS_TEXT
NSLPSTATUS_CODE
NAME
OPSTFIPS
LSTREE
STFIP15
CNTY15
NMCNTY15
LOCALE15
LAT1516
LON1516
CBSA15
NMCBSA15
CBSATYPE15
CSA15
NMCSA15
NECTA15
NMNECTA15
CD15
SLDL15
SLDU15
LSTREET114
LSTREET214
LSTREET314
LCITY14
LSTATE14
LZIP14
ISFLE
ISFTEPUP
SCHNAM98
CHARTR98
STATUS98
SCHNAM99
CHARTR99
STATUS99
SCHNAM00
CHARTR00
STATUS00
SCHNAM01
CHARTR01
STATUS01
SCHNAM02
CHARTR02
STATUS02
SCHNAM03
CHARTR03
STATUS03
SCHNAM04
CHARTR04
STATUS04
SCHNAM05
CHARTR05
STATUS05
SCHNAM06
CHARTR06
STATUS06
SCHNAM07
CHARTR07
STATUS07
SCHNAM08
CHARTR08
STATUS08
SCHNAM09
CHARTR09
STATUS09
SCHNAM10
CHARTR10
STATUS10
RECONSTY10
RECONSTF10
SCHNAM11
CHARTR11
STATUS11
RECONSTY11
RECONSTF11
SCHNAM12
CHARTR12
STATUS12
RECONSTY12
RECONSTF12
SCHNAM13
CHARTR13
STATUS13
RECONSTY13
RECONSTF13
SCHNAM15
CHARTER_TEXT15
SY_STATUS15
RECON_STATUS15
SCHNAM16
CHARTER_TEXT16
SY_STATUS16
RECON_STATUS16
PVI2017
PVI2014
CONUM
CONAME
CD
CBSA
CSA
NECTA
METMIC
ALL_MTH00NUMVALID_1415
ALL_RLA00NUMVALID_1415
LSTREET116
LSTREET216
LSTREET316
LCITY16
LSTATE16
LZIP16
ADDRESS16
ALL_RLA00NUMVALID_1516
ALL_RLA00PCTPROF_1516
ALL_MTH00NUMVALID_1516
ALL_MTH00PCTPROF_1516
ess_strength
prog_strength
SD_lv_PVI_2014
SD_lv_PVI_2017
FIPS
Name of Area
Qualifying Name
State/U.S.-Abbreviation (USPS)
Summary Level
File Identification
Logical Record Number
State (FIPS)
School District (Elementary)
School District (Secondary)
School District (Unified)
Geographic Identifier
Area (Land)
Area (Water)
Total Population
Population Density (Per Sq. Mile)
Area (Land).1
% Total Population: Under 18 Years
% Total Population: 18 to 34 Years
% Total Population: 35 to 64 Years
% Total Population: 65 and Over
% Total Population: White Alone
% Total Population: Black or African American Alone
% Total Population: American Indian and Alaska Native Alone
% Total Population: Asian Alone
% Total Population: Native Hawaiian and Other Pacific Islander Alone
% Total Population: Some Other Race Alone
% Total Population: Two or More Races
Occupied Housing Units
% Occupied Housing Units: Family Households
% Occupied Housing Units: Family Households: Married-Couple Family
% Occupied Housing Units: Nonfamily Households
% Occupied Housing Units: Nonfamily Households: Householder Living Alone
% Occupied Housing Units: With Related Children of the Householder Under 18
% Occupied Housing Units: No Related Children of the Householder Under 18
Population 15 Years and Over:
% Population 15 Years and Over: Never Married
% Population 15 Years and Over: Now Married (Not Including Separated)
% Population 15 Years and Over: Separated
% Population 15 Years and Over: Widowed
% Population 15 Years and Over: Divorced
Population 25 Years and Over:
% Population 25 Years and Over: Less than High School
% Population 25 Years and Over: High School Graduate (Includes Equivalency)
% Population 25 Years and Over: Some College
% Population 25 Years and Over: Bachelor's Degree
% Population 25 Years and Over: Master's Degree
% Population 25 Years and Over: Professional School Degree
% Population 25 Years and Over: Doctorate Degree
Population 3 Years and Over:
% Population 3 Years and Over: Enrolled in School
% Population 3 Years and Over: Not Enrolled in School
% Population 3 Years and Over Enrolled in School: Public School
% Population 3 Years and Over Enrolled in School: Public School: Pre-School
% Population 3 Years and Over Enrolled in School: Public School: K-8
% Population 3 Years and Over Enrolled in School: Public School: 9-12
% Population 3 Years and Over Enrolled in School: Public School: College
% Population 3 Years and Over Enrolled in School: Private School
% Population 3 Years and Over Enrolled in School: Private School: Pre-School
% Population 3 Years and Over Enrolled in School: Private School: K-8
% Population 3 Years and Over Enrolled in School: Private School: 9-12
% Population 3 Years and Over Enrolled in School: Private School: College
Civilian Population 16 to 19 Years:
% Civilian Population 16 to 19 Years: Not High School Graduate, Not Enrolled (Dropped Out)
% Civilian Population 16 to 19 Years: High School Graduate, or Enrolled (in School)
% Civilian Population in Labor Force 16 Years and Over: Employed
% Civilian Population in Labor Force 16 Years and Over: Unemployed
% White Alone, Not Hispanic or Latino 16 Years Old  in&nbsp; Civilian Labor Force: Employed
% White Alone, Not Hispanic or Latino 16 Years Old  in&nbsp; Civilian Labor Force: Unemployed
% Employed Civilian Population 16 Years and Over: Agriculture, Forestry, Fishing and Hunting, and Mining
% Employed Civilian Population 16 Years and Over: Construction
% Employed Civilian Population 16 Years and Over: Manufacturing
% Employed Civilian Population 16 Years and Over: Wholesale Trade
% Employed Civilian Population 16 Years and Over: Retail Trade
% Employed Civilian Population 16 Years and Over: Transportation and Warehousing, and Utilities
% Employed Civilian Population 16 Years and Over: Information
% Employed Civilian Population 16 Years and Over: Finance and Insurance, and Real Estate and Rental  and Leasing
% Employed Civilian Population 16 Years and Over: Professional, Scientific, and Management, and  Administrative and Waste Management Services
% Employed Civilian Population 16 Years and Over: Educational Services, and Health Care and Social  Assistance
% Employed Civilian Population 16 Years and Over: Arts, Entertainment, and Recreation, and  Accommodation and Food Services
% Employed Civilian Population 16 Years and Over: Other Services, Except Public Administration
% Employed Civilian Population 16 Years and Over: Public Administration
% Employed Civilian Population 16 Years and Over: Unpaid Family Workers
Median Household Income (In 2016 Inflation Adjusted Dollars)
Median Household Income (In 2016 Inflation Adjusted Dollars): White Alone Householder
Median Household Income (In 2016 Inflation Adjusted Dollars): Black or African American Alone Householder
Median Household Income (In 2016 Inflation Adjusted Dollars): American Indian and Alaska Native Alone  Householder
Median Household Income (In 2016 Inflation Adjusted Dollars): Asian Alone
Median Household Income (In 2016 Inflation Adjusted Dollars): Native Hawaiian and Other Pacific Islander Alone  Householder
Median Household Income (In 2016 Inflation Adjusted Dollars): Some Other Race Alone Householder
Median Household Income (In 2016 Inflation Adjusted Dollars): Two or More Races Householder
Median Household Income (In 2016 Inflation Adjusted Dollars): Hispanic or Latino Householder
Median Household Income (In 2016 Inflation Adjusted Dollars): White Alone Householder, Not Hispanic or Latino
Per Capita Income (In 2016 Inflation Adjusted Dollars)
Gini Index
Median Year Structure Built
Median Value
% Renter-Occupied Housing Units: Less than 10 Percent
% Renter-Occupied Housing Units: 10 to 29 Percent
% Renter-Occupied Housing Units: 30 to 49 Percent
% Renter-Occupied Housing Units: 50 Percent or More
% Renter-Occupied Housing Units: Not Computed
% Families: Income in Below Poverty Level
% Families: Income in at or Above Poverty Level
Population Under 18 Years of Age for Whom Poverty Status Is Determined:
% Population Under 18 Years of Age for Whom Poverty Status Is Determined: Living in Poverty
% Population Under 18 Years of Age for Whom Poverty Status Is Determined: at or Above Poverty Level
% Total: Same House 1 Year Ago
% Total: Moved Within Same County
% Total: Moved From Different County Within Same State
% Total: Moved From Different State
% Total: Moved From Abroad
% Total Population: Native Born
% Total Population: Foreign Born
% Total Population: Foreign Born: Naturalized Citizen
% Total Population: Foreign Born: Not a Citizen
% Foreign-Born Population: Europe
% Foreign-Born Population: Asia
% Foreign-Born Population: Africa
% Foreign-Born Population: Oceania
% Foreign-Born Population: Americas
Total:
% Total: No Health Insurance Coverage
% Total: with Health Insurance Coverage
% Total: with Health Insurance Coverage: Public Health Coverage
% Total: with Health Insurance Coverage: Private Health Insurance
close99
close00
close01
close02
close03
close04
close05
close06
close07
close08
close09
close10
close11
close12
close13
close14
close15
close16
close_rate99
close_rate00
close_rate01
close_rate02
close_rate03
close_rate04
close_rate05
close_rate06
close_rate07
close_rate08
close_rate09
close_rate10
close_rate11
close_rate12
close_rate13
close_rate14
close_rate15
close_rate16
POPTOT_S16
POP517_S16
CHILDPOV_S16
TRUE_CHARTER
WEBTEXT
MEMBER
TOTFRL
TITLEI
FTE
YEAR_OPENED
YEAR_CLOSED
SEARCH16
TOTETH
PCTETH
AGE
PCTFRL
PLACE
STR

In [26]:
parsed_df_6['NCESSCH'].isna().sum()

0

In [58]:
df_6_ids = list(set(parsed_df_6['NCESSCH']))
df_6_ids

[480023709189.0,
 120129004043.0,
 120129004044.0,
 120108007441.0,
 120132007956.0,
 40061403158.0,
 290060103194.0,
 50007401501.0,
 120132003875.0,
 120123003429.0,
 120108007463.0,
 69103513640.0,
 220117000234.0,
 120108008490.0,
 120108007470.0,
 480002508343.0,
 120108004926.0,
 63441012800.0,
 120108004929.0,
 50005501508.0,
 120108004933.0,
 40061302861.0,
 120105003597.0,
 480027213391.0,
 61495011927.0,
 80426001505.0,
 50005500513.0,
 480023712866.0,
 120126008427.0,
 480023712366.0,
 80002002033.0,
 480023712372.0,
 120108003956.0,
 61495010422.0,
 120108008062.0,
 63023010431.0,
 450390101639.0,
 110007200405.0,
 120126004387.0,
 370041803428.0,
 120159001775.0,
 220117000880.0,
 50006100658.0,
 480026613428.0,
 110006000310.0,
 480007111352.0,
 120126007489.0,
 110005300428.0,
 120123008208.0,
 290059903197.0,
 220117000926.0,
 40015701728.0,
 120105001702.0,
 110005300455.0,
 40024402153.0,
 480023711465.0,
 69103511792.0,
 470318002423.0,
 110005100301.0,
 120132007698.0,
 110007600408.0,
 40061302553.0,
 120108008229.0,
 61560008502.0,
 63324013882.0,
 50005900603.0,
 120123003199.0,
 120123003200.0,
 40061002056.0,
 120105004364.0,
 110005700431.0,
 63324013909.0,
 120108007768.0,
 40061303135.0,
 290060003178.0,
 480001410415.0,
 110006400367.0,
 110005800308.0,
 220084000638.0,
 60861002633.0,
 220084000653.0,
 120108003725.0,
 120126004112.0,
 110005500305.0,
 120123007901.0,
 120108008351.0,
 80228001703.0,
 480145013162.0,
 120108008375.0,
 290060003264.0,
 50005900741.0,
 120108008392.0,
 40012101581.0,
 480002511316.0,
 220020302297.0,
 62871012315.0,
 61548013032.0,
 40015703028.0,
 60004710393.0]

In [61]:
c=0
for i in df_6_ids:
    if i in list(so_far):
        c+=1
    
c

99

In [60]:
so_far = parsed_df_1['NCESSCH'].append(parsed_df_2['NCESSCH']).append(parsed_df_3['NCESSCH']).append(parsed_df_4['NCESSCH']).append(parsed_df_5['NCESSCH']).append(parsed_df_6['NCESSCH'])

In [62]:
so_far_unique = list(set(so_far))

In [63]:
len(so_far_unique)

6136

In [64]:
len(so_far)

6579

In [65]:
cleaned_list = [x for x in so_far_unique if str(x) != 'nan']

In [66]:
len(cleaned_list) # true unique ids that have been seen already

6135

In [67]:
parsed_df_1.shape[0]+parsed_df_2.shape[0]+parsed_df_3.shape[0]+parsed_df_4.shape[0]+parsed_df_5.shape[0]+parsed_df_6.shape[0]

6579

In [68]:
lookup['NCESSCH'] = full_250_df['NCESSCH']

In [69]:
count = 0
minus = 0
u = set(full_250_df['NCESSCH'])
for nc in u:
    indices = lookup.index[lookup['NCESSCH'] == nc].tolist()
    if nc in cleaned_list: #if already parsed 
        for i in indices:
            lookup.loc[i, 'OVERLAPS_REMOVED'] = 1
            if nc in df_6_ids:
                lookup.loc[i, 'DATA_SOURCE'] = 'full_15_250'
            else :
                lookup.loc[i, 'DATA_SOURCE'] = 'full'
        count+=1
    else:
        
        for i in indices:
            lookup.loc[i, 'OVERLAPS_REMOVED'] = 0
            lookup.loc[i, 'DATA_SOURCE'] = 'full_15_250'
        minus+=1

In [70]:
count

6135

In [71]:
minus

4830

In [72]:
count+minus

10965

In [74]:
six = lookup[(lookup['DATA_SOURCE'] == 'full_15_250') & (lookup['OVERLAPS_REMOVED'] == 1)]

In [75]:
len(set(six['NCESSCH']))

99

In [76]:
lookup.shape[0]

11521

In [78]:
lookup[lookup['OVERLAPS_REMOVED'] == 1].shape[0] #this number is bigger than len(cleaned_list) cz lookup has repeated rows
#count is 6036 which means it made 1, 6036 times -> which is the leangth of cleaned list

6347

In [79]:
len(so_far)

6579

In [80]:
lookup.isna().sum()

NCESSCH             0
OVERLAPS_REMOVED    0
DATA_SOURCE         0
dtype: int64

In [81]:
len(set(so_far))

6136

In [82]:
lookup.to_csv(folder_prefix + "/nowdata/parsing/lookup.csv", mode="w", index=False, header=lookup.columns.values, sep="\t", encoding="utf-8")

In [83]:
s = pd.read_csv(folder_prefix + "/nowdata/parsing/lookup.csv", sep="\t", low_memory=False, encoding="utf-8")

In [84]:
s

            NCESSCH  OVERLAPS_REMOVED  DATA_SOURCE
0      4.008280e+10                 0  full_15_250
1      4.008280e+10                 0  full_15_250
2      4.004170e+10                 0  full_15_250
3      4.004170e+10                 0  full_15_250
4      4.001060e+10                 0  full_15_250
5      4.001060e+10                 0  full_15_250
6      4.800034e+11                 1         full
7      4.800034e+11                 1         full
8      4.800034e+11                 1         full
9      4.800192e+11                 1         full
10     4.800192e+11                 1         full
11     4.800192e+11                 1         full
12     4.800192e+11                 1         full
13     6.118201e+10                 1         full
14     6.910351e+10                 1         full
15     6.345901e+10                 1         full
16     6.143701e+10                 1         full
17     4.800019e+11                 1         full
18     4.800019e+11                 1         full
19     4.800158e+11                 1         full
20     4.800158e+11                 1         full
21     4.800158e+11                 1         full
22     4.200813e+11                 1         full
23     4.200813e+11                 1         full
24     4.200835e+11                 1         full
25     4.200835e+11                 1         full
26     4.200843e+11                 1         full
27     4.200839e+11                 0  full_15_250
28     4.200043e+11                 0  full_15_250
29     1.200180e+11                 0  full_15_250
...             ...               ...          ...
11491  4.700148e+11                 1         full
11492  4.703180e+11                 1         full
11493  4.800071e+11                 1         full
11494  4.800074e+11                 1         full
11495  4.800179e+11                 1         full
11496  4.800186e+11                 1         full
11497  4.800195e+11                 1         full
11498  4.800258e+11                 1         full
11499  4.800283e+11                 1         full
11500  4.800283e+11                 1         full
11501  4.801400e+11                 1         full
11502  4.801420e+11                 1         full
11503  4.801421e+11                 1         full
11504  4.801449e+11                 1         full
11505  4.801451e+11                 1         full
11506  4.801456e+11                 1         full
11507  4.801457e+11                 1         full
11508  4.801458e+11                 1         full
11509  4.823640e+11                 1         full
11510  4.823640e+11                 1         full
11511  4.823640e+11                 1         full
11512  4.825260e+11                 1         full
11513  4.834050e+11                 1         full
11514  4.900162e+11                 1         full
11515  4.900174e+11                 1         full
11516  4.900197e+11                 1         full
11517  5.509600e+11                 1         full
11518  5.509600e+11                 1         full
11519  5.509600e+11                 1         full
11520  5.601980e+11                 1         full

[11521 rows x 3 columns]

In [85]:
s[s['OVERLAPS_REMOVED'] == 1].shape[0]

6347

In [86]:
s.isna().sum()

NCESSCH             0
OVERLAPS_REMOVED    0
DATA_SOURCE         0
dtype: int64

In [87]:
unseen = s[s['OVERLAPS_REMOVED'] == 0]
unseen

            NCESSCH  OVERLAPS_REMOVED  DATA_SOURCE
0      4.008280e+10                 0  full_15_250
1      4.008280e+10                 0  full_15_250
2      4.004170e+10                 0  full_15_250
3      4.004170e+10                 0  full_15_250
4      4.001060e+10                 0  full_15_250
5      4.001060e+10                 0  full_15_250
27     4.200839e+11                 0  full_15_250
28     4.200043e+11                 0  full_15_250
29     1.200180e+11                 0  full_15_250
30     1.200180e+11                 0  full_15_250
31     1.201320e+11                 0  full_15_250
32     1.201320e+11                 0  full_15_250
33     1.200180e+11                 0  full_15_250
34     1.200180e+11                 0  full_15_250
35     1.200480e+11                 0  full_15_250
36     1.200480e+11                 0  full_15_250
37     1.200480e+11                 0  full_15_250
38     1.200480e+11                 0  full_15_250
39     1.200180e+11                 0  full_15_250
40     1.200180e+11                 0  full_15_250
41     1.200180e+11                 0  full_15_250
42     1.200180e+11                 0  full_15_250
43     1.200180e+11                 0  full_15_250
44     1.200390e+11                 0  full_15_250
45     1.200390e+11                 0  full_15_250
46     1.200390e+11                 0  full_15_250
47     1.200390e+11                 0  full_15_250
48     1.200390e+11                 0  full_15_250
49     1.200390e+11                 0  full_15_250
50     1.200390e+11                 0  full_15_250
...             ...               ...          ...
8367   1.201230e+11                 0  full_15_250
9453   2.900602e+11                 0  full_15_250
9454   2.900603e+11                 0  full_15_250
9455   2.900604e+11                 0  full_15_250
9456   2.900606e+11                 0  full_15_250
9457   2.900608e+11                 0  full_15_250
9458   2.900609e+11                 0  full_15_250
9459   2.900611e+11                 0  full_15_250
9460   2.900613e+11                 0  full_15_250
9461   3.901416e+11                 0  full_15_250
9462   3.200001e+11                 0  full_15_250
11184  5.515360e+11                 0  full_15_250
11185  5.515360e+11                 0  full_15_250
11186  5.515750e+11                 0  full_15_250
11187  5.515780e+11                 0  full_15_250
11188  5.515780e+11                 0  full_15_250
11189  5.515780e+11                 0  full_15_250
11190  5.515780e+11                 0  full_15_250
11208  7.200030e+11                 0  full_15_250
11209  7.200030e+11                 0  full_15_250
11210  7.200030e+11                 0  full_15_250
11211  7.200030e+11                 0  full_15_250
11212  7.200030e+11                 0  full_15_250
11213  7.200030e+11                 0  full_15_250
11214  7.200030e+11                 0  full_15_250
11215  7.200030e+11                 0  full_15_250
11216  7.200030e+11                 0  full_15_250
11217  7.200030e+11                 0  full_15_250
11218  7.200030e+11                 0  full_15_250
11219  7.200030e+11                 0  full_15_250

[5174 rows x 3 columns]

In [88]:
5279 + 6242

11521

In [89]:
li = list(unseen['NCESSCH'])

In [90]:
len(li)

5174

In [91]:
p = full_250_df[full_250_df['NCESSCH'].isin(li)]

In [92]:
p

,CMO_NAME,CMO_MEMSUM,SCH_NAME,CMO_STATE,CMO_SCHNUM,CMO_URL,CMO_NUMSTATES,CMO_ALLSTATES,CMO_SECTOR,CMO_NUMSTUDENTS_CREDO17,...,SEARCH16,TOTETH,PCTETH,AGE,PCTFRL,PLACE,STR,WEBTEXT_METHOD,REPLACED,CMO_REPLACED
0,AAEC,1320.0,ARIZONA AGRIBUSINESS & EQUINE CENTER - ESTRELLA,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,NaN,NaN,...,ARIZONA AGRIBUSINESS & EQUINE CENTER - ESTRELL...,239.0,0.497917,5.0,-0.002083,Suburb,-480.000000,3,False,False
1,Arizona Agribusiness & Equine Center,1320.0,ARIZONA AGRIBUSINESS & EQUINE CENTER - ESTRELLA,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,CMO,1220.0,...,ARIZONA AGRIBUSINESS & EQUINE CENTER - ESTRELL...,239.0,0.497917,5.0,-0.002083,Suburb,-480.000000,3,False,False
2,AAEC,1320.0,AAEC - SMCC CAMPUS,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,NaN,NaN,...,"AAEC - SMCC CAMPUS 7050 S. 24th Street , Phoe...",396.0,0.912442,10.0,0.649770,City,-434.000000,3,False,False
3,Arizona Agribusiness & Equine Center,1320.0,AAEC - SMCC CAMPUS,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,CMO,1220.0,...,"AAEC - SMCC CAMPUS 7050 S. 24th Street , Phoe...",396.0,0.912442,10.0,0.649770,City,-434.000000,3,False,False
4,AAEC,1320.0,AAEC - PARADISE VALLEY,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,NaN,NaN,...,AAEC - PARADISE VALLEY 17811 North 32nd Stree...,81.0,0.199507,17.0,-0.002463,City,-406.000000,3,False,False
5,Arizona Agribusiness & Equine Center,1320.0,AAEC - PARADISE VALLEY,AZ,6.0,https://www.aaechighschools.com/,1.0,AZ,CMO,1220.0,...,AAEC - PARADISE VALLEY 17811 North 32nd Stree...,81.0,0.199507,17.0,-0.002463,City,-406.000000,3,False,False
27,ASPIRA of PA,3966.0,JOHN B. STETSON CHARTER SCHOOL,PA,5.0,http://www.aspirapa.org/,1.0,PA,CMO,3494.0,...,JOHN B. STETSON CHARTER SCHOOL 3200 B Street ...,849.0,0.988359,5.0,0.912689,City,12.632353,3,False,False
28,ASPIRA of PA,3966.0,EUGENIO MARIA DE HOSTOS CS,PA,5.0,http://www.aspirapa.org/,1.0,PA,CMO,3494.0,...,EUGENIO MARIA DE HOSTOS CS 6310 N 2nd Street ...,477.0,0.993750,17.0,0.968750,City,12.972973,3,False,False
29,Academica,48541.0,SOMERSET ACADEMY KEY CHARTER HIGH SCHOOL,FL,108.0,http://www.academica.org/,6.0,"FL,UT,CA,NV,TX,DC",VOS,23788.0,...,SOMERSET ACADEMY KEY CHARTER HIGH SCHOOL 959 ...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,False
30,Somerset Academy,23411.0,SOMERSET ACADEMY KEY CHARTER HIGH SCHOOL,NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,SOMERSET ACADEMY KEY CHARTER HIGH SCHOOL 959 ...,NaN,NaN,-1.0,NaN,NaN,NaN,3,False,False
31,Academica,48541.0,KEY WEST COLLEGIATE SCHOOL,FL,108.0,http://www.academica.org/,6.0,"FL,UT,CA,NV,TX,DC",VOS,23788.0,...,"KEY WEST COLLEGIATE SCHOOL 5901 COLLEGE RD , ...",29.0,0.381579,4.0,0.039474,Town,-76.000000,3,False,False
32,Somerset Academy,23411.0,KEY WEST COLLEGIATE SCHOOL,NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,"KEY WEST COLLEGIATE SCHOOL 5901 COLLEGE RD , ...",29.0,0.381579,4.0,0.039474,Town,-76.000000,3,False,False
33,Academica,48541.0,SOMERSET ACADEMY DAVIE CHARTER,FL,108.0,http://www.academica.org/,6.0,"FL,UT,CA,NV,TX,DC",VOS,23788.0,...,SOMERSET ACADEMY DAVIE CHARTER 3788 DAVIE RD ...,88.0,0.606897,12.0,0.586207,Suburb,-145.000000,3,False,False
34,Somerset Academy,23411.0,SOMERSET ACADEMY DAVIE CHARTER,NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,SOMERSET ACADEMY DAVIE CHARTER 3788 DAVIE RD ...,88.0,0.606897,12.0,0.586207,Suburb,-145.000000,3,False,False
35,Academica,48541.0,SOMERSET ACADEMY-ELEMENTARY EAGLE CAMPUS,FL,108.0,http://www.academica.org/,6.0,"FL,UT,CA,NV,TX,DC",VOS,23788.0,...,SOMERSET ACADEMY-ELEMENTARY EAGLE CAMPUS 8985...,155.0,0.968750,5.0,0.162500,City,14.545455,3,False,False
36,Somerset Academy,23411.0,SOMERSET ACADEMY-ELEMENTARY EAGLE CAMPUS,NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,SOMERSET ACADEMY-ELEMENTARY EAGLE CAMPUS 8985...,155.0,0.968750,5.0,0.162500,City,14.545455,3,False,False
37,Academica,48541.0,SOMERSET ACADEMY-MIDDLE EAGLE CAMPUS,FL,108.0,http://www.academica.org/,6.0,"FL,UT,CA,NV,TX,DC",VOS,23788.0,...,SOMERSET ACADEMY-MIDDLE EAGLE CAMPUS 1429 BRO...,45.0,0.937500,5.0,0.333333,City,24.000000,3,False,False
38,Somerset Academy,23411.0,SOMERSET ACADEMY-MIDDLE EAGLE CAMPUS,NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,SOMERSET ACADEMY-MIDDLE EAGLE CAMPUS 1429 BRO...,45.0,0.937500,5.0,0.333333,City,24.000000,3,False,False
39,Academica,48541.0,SOMERSET ACADEMY ELEMENTARY (MIRAMAR CAMPUS),FL,108.0,http://www.academica.org/,6.0,"FL,UT,CA,NV,TX,DC",VOS,23788.0,...,SOMERSET ACADEMY ELEMENTARY (MIRAMAR CAMPUS) ...,573.0,0.940887,9.0,0.666667,Suburb,14.500000,3,False,False
40,Somerset Academy,23411.0,SOMERSET ACADEMY ELEMENTARY (MIRAMAR CAMPUS),NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,SOMERSET ACADEMY ELEMENTARY (MIRAMAR CAMPUS) ...,573.0,0.940887,9.0,0.666667,Suburb,14.500000,3,False,False
41,Academica,48541.0,SOMERSET ACADEMY MIDDLE SCHOOL,FL,108.0,http://www.academica.org/,6.0,"FL,UT,CA,NV,TX,DC",VOS,23788.0,...,SOMERSET ACADEMY MIDDLE SCHOOL 20803 JOHNSON ...,718.0,0.866104,14.0,0.334138,Suburb,23.027778,3,False,False
42,Somerset Academy,23411.0,SOMERSET ACADEMY MIDDLE SCHOOL,NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,SOMERSET ACADEMY MIDDLE SCHOOL 20803 JOHNSON ...,718.0,0.866104,14.0,0.334138,Suburb,23.027778,3,False,False
43,Somerset Academy,23411.0,SOMERSET ACADEMY MIDDLE SCHOOL,NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,SOMERSET ACADEMY MIDDLE SCHOOL 20803 JOHNSON ...,718.0,0.866104,14.0,0.334138,Suburb,23.027778,3,False,False
44,Academica,48541.0,SOMERSET ACADEMY (SILVER PALMS),FL,108.0,http://www.academica.org/,6.0,"FL,UT,CA,NV,TX,DC",VOS,23788.0,...,SOMERSET ACADEMY (SILVER PALMS) 23255 SW 115T...,671.0,0.946403,8.0,0.703808,Suburb,19.162162,3,False,False
45,Somerset Academy,23411.0,SOMERSET ACADEMY (SILVER PALMS),NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,SOMERSET ACADEMY (SILVER PALMS) 23255 SW 115T...,671.0,0.946403,8.0,0.703808,Suburb,19.162162,3,False,False
46,Academica,48541.0,SOMERSET ACADEMY CHARTER MIDDLE SCHOOL SOUTH M...,FL,108.0,http://www.academica.org/,6.0,"FL,UT,CA,NV,TX,DC",VOS,23788.0,...,SOMERSET ACADEMY CHARTER MIDDLE SCHOOL SOUTH M...,165.0,0.882353,6.0,0.128342,Suburb,37.400000,3,False,False
47,Somerset Academy,23411.0,SOMERSET ACADEMY CHARTER MIDDLE SCHOOL SOUTH M...,NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,SOMERSET ACADEMY CHARTER MIDDLE SCHOOL SOUTH M...,165.0,0.882353,6.0,0.128342,Suburb,37.400000,3,False,False
48,Somerset Academy,23411.0,SOMERSET ACADEMY CHARTER MIDDLE SCHOOL SOUTH M...,NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,SOMERSET ACADEMY CHARTER MIDDLE SCHOOL SOUTH M...,165.0,0.882353,6.0,0.128342,Suburb,37.400000,3,False,False
49,Academica,48541.0,SOMERSET ACADEMY BAY,FL,108.0,http://www.academica.org/,6.0,"FL,UT,CA,NV,TX,DC",VOS,23788.0,...,"SOMERSET ACADEMY BAY 9500 SW 97TH AVE , MIAMI...",206.0,0.891775,2.0,0.164502,City,15.400000,3,False,False
50,Somerset Academy,23411.0,SOMERSET ACADEMY BAY,NY,67.0,http://www.somersetacademyschools.com/,1.0,NY,Hybrid,14951.0,...,"SOMERSET ACADEMY BAY 9500 SW 97TH AVE , MIAMI...",206.0,0.891775,2.0,0.164502,City,15.400000,3,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,WILLIAM MONROE ROWLETT ACADEMY FOR ARTS AND CO...,417.0,0.459757,15.0,-0.001103,Suburb,-907.000000,3,False,NaN
9453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"JAMAA LEARNING CENTER 3108 N. Grand Blvd. , S...",159.0,1.000000,4.0,0.949686,City,11.357143,3,False,NaN
9454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"CROSSROADS ACAD OF KANSAS CITY 1015 CENTRAL ,...",219.0,0.627507,3.0,0.406877,City,16.157407,3,False,NaN
9455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"ACADEMY FOR INTEGRATED ARTS 7910 Troost Ave ,...",110.0,0.916667,3.0,0.675000,City,20.000000,3,False,NaN
9456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LAFAYETTE PREPARATORY ACADEMY 1900 Lafayette ...,124.0,0.729412,2.0,0.347059,City,20.118343,3,False,NaN
9457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,HAWTHORN LEADERSHIP SCHL GIRLS 1901 N KINGSHI...,121.0,0.975806,0.0,NaN,City,NaN,3,False,NaN
9458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"THE BIOME 4471 OLIVE STREET , ST. LOUIS MO 63...",54.0,0.885246,0.0,NaN,City,NaN,3,False,NaN
9459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LA SALLE CHARTER SCHOOL 4145 KENNERLY AVENUE ...,87.0,0.988636,0.0,NaN,City,NaN,3,False,NaN
9460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"TESSERA HALL ACADEMY P.O. Box 5142 , ST LOUIS...",NaN,NaN,NaN,NaN,City,NaN,3,False,NaN
9461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"CAPITAL HIGH SCHOOL 640 Harrisburg Pike , Col...",122.0,0.472868,5.0,0.000000,City,-258.000000,3,False,NaN
9462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"EQUIPO ACADEMY 4131 E. Bonanza Road , Las Veg...",411.0,0.955814,0.0,NaN,City,NaN,3,False,NaN
11184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,VIROQUA AREA MONTESSORI SCHOOL 115 N Educatio...,5.0,0.075758,1.0,0.348485,Town,-66.000000,3,False,NaN
11185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,VERNON COUNTY AREA BETTER FUTURES HIGH 100 Bl...,0.0,0.000000,15.0,1.000000,Town,-3.000000,3,False,NaN
11186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"ENDEAVOR CHARTER SCHOOL 825 Endeavour Dr , Wa...",7.0,0.137255,1.0,0.313725,Town,-51.000000,3,False,NaN
11187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"EACHIEVE ACADEMY - WISCONSIN 222 Maple Ave , ...",86.0,0.144538,11.0,0.263866,City,-595.000000,3,False,NaN
11188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,WAUKESHA ACADEMY OF HEALTH PROFESSIONS 401 E ...,43.0,0.288591,11.0,0.322148,City,-149.000000,3,False,NaN
11189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"EACHIEVE ELEMENTARY 222 Maple Ave , Waukesha ...",9.0,0.176471,1.0,0.117647,City,-51.000000,3,False,NaN
11190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,WAUKESHA EAST ALTERNATIVE SCHOOL 1150 Whitero...,39.0,0.475610,14.0,0.792683,City,-82.000000,3,False,NaN
11208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,RAMON E. RODRIGUEZ DIAZ CALLE COMERCIO URB. V...,425.0,1.000000,17.0,1.032941,Suburb,12.142857,3,False,NaN
11209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LUIS MUNOZ MARIN CARR 1 SECTOR SINGAPUR BO PA...,180.0,1.000000,17.0,1.050000,Rural,10.588235,3,False,NaN
11210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EUGENIO MARIA DE HOSTOS CARR 155 KM 59 HM 9 B...,97.0,1.000000,17.0,1.216495,Suburb,8.083333,3,False,NaN
11211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,EUGENIO MARIA DE HOSTOS 2049 AVE EDUARDO RUBE...,193.0,1.000000,17.0,0.829016,City,12.062500,3,False,NaN
11212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ANGEL SANDIN MARTINEZ 4 CALLE JULIO OTERO ESQ...,754.0,1.000000,17.0,1.001326,Suburb,12.566667,3,False,NaN
11213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ELISA DAVILA VAZQUEZ (ESPINOSA ADENTRO) CARR ...,196.0,0.980000,17.0,0.900000,Suburb,15.384615,3,False,NaN
11214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,ANTONIO PAOLI URB SANTA RITA CALLE 9 V. ALTA ...,261.0,0.992395,17.0,1.197719,Suburb,10.958333,3,False,NaN
11215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,LUIS MUNOZ RIVERA CALLE LUIS MU?OZ RIVERA SUR...,279.0,0.996429,17.0,0.960714,Suburb,11.666667,3,False,NaN
11216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SU DR. CAYETANO COLL Y TOSTE CARR 638 HM 5 BO...,580.0,1.000000,17.0,0.993103,Suburb,12.083333,3,False,NaN
11217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"SU SANAMUERTOS CARR 157 KM 23 BO BARROS , ORO...",285.0,0.996503,17.0,0.807692,Suburb,14.300000,3,False,NaN
11218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CLEMENTE RAMIREZ ARELLANO CARR 670 KM 4 HM 9 ...,314.0,1.000000,17.0,1.003185,Suburb,16.526316,3,False,NaN
11219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MICAELA ESCUDERO CARR 2 KM 44 HM 4 BO CANTERA...,213.0,1.000000,17.0,0.849765,Suburb,16.384615,3,False,NaN

In [160]:
new_data = pd.DataFrame(columns=['id', 'name'])
new_data['id'] = pd.Series([[100], [109], [40], [32], [16], [19], [8], [33], [20], [21], [54], [3]])
new_data['name'] = pd.Series(["Billy", "Krutika", "Joe", "fdjs", "gfd", "re","fde", "t", "a", "e", "bf", "tr"])
# i = new_data.head(2)
# new_data = new_data.append(i)
new_data

       id     name
0   [100]    Billy
1   [109]  Krutika
2    [40]      Joe
3    [32]     fdjs
4    [16]      gfd
5    [19]       re
6     [8]      fde
7    [33]        t
8    [20]        a
9    [21]        e
10   [54]       bf
11    [3]       tr

In [111]:
arr_of_dfs = np.array_split(new_data, len(new_data['id']))

In [112]:
[ x + 1 for x in [0,1] ]

[1, 2]

In [126]:
def add_val(li):
    print("hi")
    return [x + 1 for x in li ]

In [127]:
def parse_df(old_list):
    new_list = add_val(old_list)
    return new_list

In [153]:
def chunk_assign(df_chunk): #Jaren chunk by chunk 
    global num
    #global temp_df
    global temp_df
    
    #already_cleaned_chunk = df_chunk.loc[df_chunk['OVERLAPS_REMOVED'] == 1] don't do anything with this
    
    df_chunk['id'] = df_chunk['id'].apply(parse_df)
    
    temp_df = temp_df.append(df_chunk, ignore_index = True)
    print(temp_df['id'].values)

    
    
            
    if num == 0: # Save first slice to new file (overwriting if needed)
        temp_df.to_csv(folder_prefix + "nowdata/parsing/temp_test.csv", mode="w", index=False, header=df_chunk.columns.values, sep="\t", encoding="utf-8")
        
    elif (num > 0) and (num % 10 == 0):
        temp_df.to_csv(folder_prefix + "nowdata/parsing/temp_test.csv", mode="a", index=False, header=False, sep="\t", encoding="utf-8")


    num+=1
    
    return df_chunk

In [156]:
num = 0
temp_df = pd.DataFrame(columns=new_data.columns)
numcpus = len(os.sched_getaffinity(0)) # Detect and assign number of available CPUs
p = mp.Pool(numcpus)
c = 0
j = p.map(chunk_assign, arr_of_dfs)

hi
hi
hi
hi
hi
[list([41])]
[list([33])]
hi
hi
[list([9])]
[list([17])]
hi
hi
[list([101])]
hi
hi
hi
[list([34])]
[list([110])]
[list([21])]
[list([22])]
[list([20])]
[list([55])]
[list([4])]

In [157]:
j

[      id   name
 0  [101]  Billy,       id     name
 1  [110]  Krutika,      id name
 2  [41]  Joe,      id  name
 3  [33]  fdjs,      id name
 4  [17]  gfd,      id name
 5  [20]   re,     id name
 6  [9]  fde,      id name
 7  [34]    t,      id name
 8  [21]    a,      id name
 9  [22]    e,       id name
 10  [55]   bf,      id name
 11  [4]   tr]

In [125]:
arr_of_dfs

[      id   name
 0  [100]  Billy,       id     name
 1  [109]  Krutika,      id name
 2  [40]  Joe,      id  name
 3  [32]  fdjs,      id name
 4  [16]  gfd,      id name
 5  [19]   re,     id name
 6  [8]  fde,      id name
 7  [33]    t,      id name
 8  [20]    a,      id name
 9  [21]    e,       id name
 10  [54]   bf,      id name
 11  [3]   tr]

In [149]:
t = pd.read_csv(folder_prefix + "nowdata/parsing/temp_test.csv", sep="\t", low_memory=False, encoding="utf-8")

In [150]:
t

     id name
0  [55]   bf

In [7]:
full_250_df = pd.read_csv(folder_prefix + "nowdata/parsing/parsed_df_2.csv", sep="\t", low_memory=False, encoding="utf-8")

In [8]:
arr_of_dfs = np.array_split(full_250_df, len(full_250_df['WEBTEXT']))

In [9]:
full_250_df.shape[0]

154

In [10]:
len(arr_of_dfs)

154

In [11]:
arr_of_dfs

[              CMO_NAME  CMO_MEMSUM            SCH_NAME CMO_STATE  CMO_SCHNUM  \
 0  IDEA Public Schools     23807.0  IDEA ACADEMY ALAMO        TX        61.0

                               CMO_URL  CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  \
 0  https://www.ideapublicschools.org/            1.0            TX        CMO

    CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 0                  17020.0       ...             2010.0         NaN

                                             SEARCH16  TOTETH    PCTETH  AGE  \
 0  IDEA ACADEMY ALAMO  325 E SH 495 , ALAMO TX 78...   814.0  0.991474  5.0

      PCTFRL   PLACE        STR OVERLAPS_REMOVED
 0  0.691839  Suburb  42.059426                1

 [1 rows x 392 columns],
                                   CMO_NAME  CMO_MEMSUM  \
 1  International Leadership Of Texas (ILT)      5030.0

                                            SCH_NAME CMO_STATE  CMO_SCHNUM  \
 1  INTERNATIONAL LEADERSHIP OF TEXAS - ARLINGTON EL        TX        20.0

                             CMO_URL  CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  \
 1  https://www.iltexasdistrict.org/            1.0            TX        CMO

    CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 1                   2958.0       ...             2013.0         NaN

                                             SEARCH16  TOTETH    PCTETH  AGE  \
 1  INTERNATIONAL LEADERSHIP OF TEXAS - ARLINGTON ...   805.0  0.882675  2.0

      PCTFRL PLACE        STR OVERLAPS_REMOVED
 1  0.588816  City  17.582418                1

 [1 rows x 392 columns],
     CMO_NAME  CMO_MEMSUM               SCH_NAME CMO_STATE  CMO_SCHNUM  \
 2  K12, Inc.     78915.0  GEORGIA CYBER ACADEMY        VA        74.0

                CMO_URL  CMO_NUMSTATES  \
 2  http://www.k12.com/           32.0

                                        CMO_ALLSTATES CMO_SECTOR  \
 2  AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...        CMO

    CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 2                  44559.0       ...             2014.0         NaN

                                             SEARCH16  TOTETH    PCTETH  AGE  \
 2  GEORGIA CYBER ACADEMY  1745 Phoenix Blvd Suite...  6719.0  0.482826  1.0

      PCTFRL   PLACE        STR OVERLAPS_REMOVED
 2  0.647384  Suburb  42.297872                1

 [1 rows x 392 columns],
     CMO_NAME  CMO_MEMSUM                             SCH_NAME CMO_STATE  \
 3  K12, Inc.     78915.0  CALIFORNIA VIRTUAL ACADEMY @ SUTTER        VA

    CMO_SCHNUM              CMO_URL  CMO_NUMSTATES  \
 3        74.0  http://www.k12.com/           32.0

                                        CMO_ALLSTATES CMO_SECTOR  \
 3  AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...        CMO

    CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 3                  44559.0       ...             2013.0         NaN

                                             SEARCH16  TOTETH    PCTETH  AGE  \
 3  CALIFORNIA VIRTUAL ACADEMY @ SUTTER  50 Morela...   412.0  0.496386  2.0

      PCTFRL   PLACE       STR OVERLAPS_REMOVED
 3  0.673494  Suburb  4.191919                1

 [1 rows x 392 columns],
     CMO_NAME  CMO_MEMSUM               SCH_NAME CMO_STATE  CMO_SCHNUM  \
 4  K12, Inc.     78915.0  IDAHO VIRTUAL ACADEMY        VA        74.0

                CMO_URL  CMO_NUMSTATES  \
 4  http://www.k12.com/           32.0

                                        CMO_ALLSTATES CMO_SECTOR  \
 4  AL,AZ,AR,CA,CO,DC,FL,GA,ID,IL,IN,IA,KS,LA,ME,M...        CMO

    CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 4                  44559.0       ...             2004.0         NaN

                                             SEARCH16  TOTETH    PCTETH   AGE  \
 4  IDAHO VIRTUAL ACADEMY  1965 S EAGLE ROAD SUIT1...   753.0  0.379345  11.0

      PCTFRL   PLACE        STR OVERLAPS_REMOVED
 4  0.625189  Suburb  37.075084                1

 [1 rows x 392 columns],
                             CMO_NAME  CMO_MEMSUM  \
 5  Raul Yzaguirre School for Success      5196.0

                             SCH_NAME CMO_STATE  CMO_SCHNUM  \
 5  RAUL YZAGUIRRE SCHOOL FOR SUCCESS        TX         3.0

                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  \
 5  http://www.ryss.org/            1.0            TX        CMO

    CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 5                   1920.0       ...             1998.0         NaN

                                             SEARCH16  TOTETH PCTETH   AGE  \
 5  RAUL YZAGUIRRE SCHOOL FOR SUCCESS  2950 BROADW...   276.0    1.0  17.0

      PCTFRL PLACE        STR OVERLAPS_REMOVED
 5  0.916667  City  13.193117                1

 [1 rows x 392 columns],
                                 CMO_NAME  CMO_MEMSUM  \
 6  Alliance College-Ready Public Schools     12541.0

                                             SCH_NAME CMO_STATE  CMO_SCHNUM  \
 6  ALLIANCE PIERA BARABAGLIA SHAHEEN HEALTH SERVI...        CA        26.0

                        CMO_URL  CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  \
 6  https://www.laalliance.org/            1.0            CA        CMO

    CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 6                   5185.0       ...             2009.0         NaN

                                             SEARCH16  TOTETH    PCTETH  AGE  \
 6  ALLIANCE PIERA BARABAGLIA SHAHEEN HEALTH SERVI...   408.0  0.900662  6.0

      PCTFRL   PLACE        STR OVERLAPS_REMOVED
 6  0.949227  Suburb  17.423077                1

 [1 rows x 392 columns],
                              CMO_NAME  CMO_MEMSUM                SCH_NAME  \
 7  Capital City Public Charter School       981.0  CAPITAL CITY PCS LOWER

   CMO_STATE  CMO_SCHNUM                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 7        DC         3.0  https://www.ccpcs.org/            1.0            DC

   CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 7        CMO                    775.0       ...             2000.0

   YEAR_CLOSED                                           SEARCH16  TOTETH  \
 7         NaN  CAPITAL CITY PCS LOWER  100 Peabody St NW , Wa...   279.0

      PCTETH   AGE    PCTFRL PLACE        STR OVERLAPS_REMOVED
 7  0.861111  15.0  0.598765  City  10.622951                1

 [1 rows x 392 columns],
              CMO_NAME  CMO_MEMSUM  \
 8  Edtec Central, LLC       385.0

                                             SCH_NAME CMO_STATE  CMO_SCHNUM  \
 8  CAPSTONE ACADEMY CHARTER SCHOOL (SDA) - SOUTH ...        MI         3.0

                         CMO_URL  CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  \
 8  http://www.edteccentral.net/            1.0            MI        NaN

    CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 8                      NaN       ...             2012.0         NaN

                                             SEARCH16  TOTETH    PCTETH  AGE  \
 8  CAPSTONE ACADEMY CHARTER SCHOOL (SDA) - SOUTH ...    55.0  0.662651  3.0

      PCTFRL PLACE        STR OVERLAPS_REMOVED
 8  0.987952  City  13.833333                1

 [1 rows x 392 columns],
   CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 9    Icahn      1926.0  ICAHN CHARTER SCHOOL 1        NY         7.0

                                CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 9  http://www.icahncharterschools.org/            1.0            NY

   CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 9        NaN                      NaN       ...             2000.0

   YEAR_CLOSED                                           SEARCH16  TOTETH  \
 9         NaN  ICAHN CHARTER SCHOOL 1  1525 BROOK AVE , BRONX...   325.0

      PCTETH   AGE    PCTFRL PLACE        STR OVERLAPS_REMOVED
 9  0.990854  15.0  0.859756  City  12.615385                1

 [1 rows x 392 columns],
    CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 10    Icahn      1926.0  ICAHN CHARTER SCHOOL 2        NY         7.0

                                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 10  http://www.icahncharterschools.org/            1.0            NY

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 10        NaN                      NaN       ...             2007.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 10         NaN  ICAHN CHARTER SCHOOL 2  1640 BRONXDALE AVE , B...   317.0

       PCTETH  AGE    PCTFRL PLACE    STR OVERLAPS_REMOVED
 10  0.972393  8.0  0.717791  City  13.04                1

 [1 rows x 392 columns],
    CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 11    Icahn      1926.0  ICAHN CHARTER SCHOOL 3        NY         7.0

                                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 11  http://www.icahncharterschools.org/            1.0            NY

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 11        NaN                      NaN       ...             2008.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 11         NaN  ICAHN CHARTER SCHOOL 3  1500 PELHAM PKWY S , B...   306.0

       PCTETH  AGE    PCTFRL PLACE        STR OVERLAPS_REMOVED
 11  0.968354  7.0  0.816456  City  15.047619                1

 [1 rows x 392 columns],
    CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 12    Icahn      1926.0  ICAHN CHARTER SCHOOL 4        NY         7.0

                                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 12  http://www.icahncharterschools.org/            1.0            NY

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 12        NaN                      NaN       ...             2009.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 12         NaN  ICAHN CHARTER SCHOOL 4  1500 PELHAM PKWY SOUTH...   313.0

       PCTETH  AGE   PCTFRL PLACE        STR OVERLAPS_REMOVED
 12  0.984277  6.0  0.68239  City  13.826087                1

 [1 rows x 392 columns],
    CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 13    Icahn      1926.0  ICAHN CHARTER SCHOOL 5        NY         7.0

                                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 13  http://www.icahncharterschools.org/            1.0            NY

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 13        NaN                      NaN       ...             2011.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 13         NaN  ICAHN CHARTER SCHOOL 5  1500 PELHAM PKWY S , B...   228.0

       PCTETH  AGE    PCTFRL PLACE   STR OVERLAPS_REMOVED
 13  0.919355  4.0  0.524194  City  15.5                1

 [1 rows x 392 columns],
    CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 14    Icahn      1926.0  ICAHN CHARTER SCHOOL 6        NY         7.0

                                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 14  http://www.icahncharterschools.org/            1.0            NY

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 14        NaN                      NaN       ...             2012.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 14         NaN  ICAHN CHARTER SCHOOL 6  1701 FULTON AVE , BRON...   213.0

       PCTETH  AGE    PCTFRL PLACE   STR OVERLAPS_REMOVED
 14  0.986111  3.0  0.597222  City  14.4                1

 [1 rows x 392 columns],
    CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 15    Icahn      1926.0  ICAHN CHARTER SCHOOL 7        NY         7.0

                                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 15  http://www.icahncharterschools.org/            1.0            NY

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 15        NaN                      NaN       ...             2013.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 15         NaN  ICAHN CHARTER SCHOOL 7  1535 STORY AVE , BRONX...   168.0

       PCTETH  AGE    PCTFRL PLACE   STR OVERLAPS_REMOVED
 15  0.965517  2.0  0.425287  City  14.5                1

 [1 rows x 392 columns],
                    CMO_NAME  CMO_MEMSUM   SCH_NAME CMO_STATE  CMO_SCHNUM  \
 16  Trinity Charter Schools       607.0  BOKENKAMP        TX         9.0

                                   CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 16  http://www.trinitycharterschools.org/            1.0            TX

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 16        CMO                    333.0       ...             2014.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 16         NaN  BOKENKAMP  5517 S ALAMEDA , CORPUS CHRISTI TX ...    90.0

       PCTETH  AGE    PCTFRL PLACE        STR OVERLAPS_REMOVED
 16  0.989011  1.0  0.571429  City  16.575592                1

 [1 rows x 392 columns],
                CMO_NAME  CMO_MEMSUM                            SCH_NAME  \
 17  Varner & Associates      2381.0  CHANDLER PARK ACADEMY - ELEMENTARY

    CMO_STATE  CMO_SCHNUM                                  CMO_URL  \
 17        MI         1.0  https://chandlerparkacademy.net/middle/

     CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17  \
 17            1.0            MI        NaN                      NaN

          ...        YEAR_OPENED YEAR_CLOSED  \
 17       ...             2000.0         NaN

                                              SEARCH16  TOTETH    PCTETH   AGE  \
 17  CHANDLER PARK ACADEMY - ELEMENTARY  20200 KELL...   998.0  0.998999  15.0

       PCTFRL   PLACE   STR OVERLAPS_REMOVED
 17  0.940941  Suburb  22.2                1

 [1 rows x 392 columns],
                CMO_NAME  CMO_MEMSUM                             SCH_NAME  \
 18  Varner & Associates      2381.0  CHANDLER PARK ACADEMY - HIGH SCHOOL

    CMO_STATE  CMO_SCHNUM                                  CMO_URL  \
 18        MI         1.0  https://chandlerparkacademy.net/middle/

     CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17  \
 18            1.0            MI        NaN                      NaN

          ...        YEAR_OPENED YEAR_CLOSED  \
 18       ...             2007.0         NaN

                                              SEARCH16  TOTETH PCTETH  AGE  \
 18  CHANDLER PARK ACADEMY - HIGH SCHOOL  20254 Kel...   729.0    1.0  8.0

       PCTFRL   PLACE        STR OVERLAPS_REMOVED
 18  0.912209  Suburb  22.430769                1

 [1 rows x 392 columns],
                CMO_NAME  CMO_MEMSUM                               SCH_NAME  \
 19  Varner & Associates      2381.0  CHANDLER PARK ACADEMY - MIDDLE SCHOOL

    CMO_STATE  CMO_SCHNUM                                  CMO_URL  \
 19        MI         1.0  https://chandlerparkacademy.net/middle/

     CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17  \
 19            1.0            MI        NaN                      NaN

          ...        YEAR_OPENED YEAR_CLOSED  \
 19       ...             1998.0         NaN

                                              SEARCH16  TOTETH PCTETH   AGE  \
 19  CHANDLER PARK ACADEMY - MIDDLE SCHOOL  20100 K...   653.0    1.0  17.0

       PCTFRL   PLACE        STR OVERLAPS_REMOVED
 19  0.940276  Suburb  22.517241                1

 [1 rows x 392 columns],
          CMO_NAME  CMO_MEMSUM  \
 20  Doral Academy     11235.0

                                            SCH_NAME CMO_STATE  CMO_SCHNUM  \
 20  DORAL INTERNATIONAL ACADEMY OF MATH AND SCIENCE        FL        12.0

                                  CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 20  https://www.doralacademyschools.org/            3.0      FL,NV,CO

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 20     Hybrid                   5373.0       ...             2011.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 20         NaN  DORAL INTERNATIONAL ACADEMY OF MATH AND SCIENC...    61.0

       PCTETH  AGE    PCTFRL   PLACE   STR OVERLAPS_REMOVED
 20  0.968254  4.0  0.126984  Suburb  12.6                1

 [1 rows x 392 columns],
        CMO_NAME  CMO_MEMSUM  \
 21  MYcroSchool      3285.0

                                              SCH_NAME CMO_STATE  CMO_SCHNUM  \
 21  DUVAL MYCROSCHOOL OF INTEGRATED ACADEMICS AND ...        FL         8.0

                          CMO_URL  CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  \
 21  https://www.mycroschool.org/            1.0            FL        NaN

     CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 21                      NaN       ...             2012.0         NaN

                                              SEARCH16  TOTETH    PCTETH  AGE  \
 21  DUVAL MYCROSCHOOL OF INTEGRATED ACADEMICS AND ...   137.0  0.634259  3.0

       PCTFRL PLACE        STR OVERLAPS_REMOVED
 21  0.180556  City  30.857143                1

 [1 rows x 392 columns],
    CMO_NAME  CMO_MEMSUM                                           SCH_NAME  \
 22  NEWCorp      3135.0  DUVAL MYCROSCHOOL OF INTEGRATED ACADEMICS AND ...

    CMO_STATE  CMO_SCHNUM                    CMO_URL  CMO_NUMSTATES  \
 22        CA        25.0  https://www.new-corp.org/            1.0

    CMO_ALLSTATES CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...         \
 22            CA        NaN                      NaN       ...

    YEAR_OPENED YEAR_CLOSED                                           SEARCH16  \
 22      2012.0         NaN  DUVAL MYCROSCHOOL OF INTEGRATED ACADEMICS AND ...

     TOTETH    PCTETH  AGE    PCTFRL PLACE        STR OVERLAPS_REMOVED
 22   137.0  0.634259  3.0  0.180556  City  30.857143                1

 [1 rows x 392 columns],
                                              CMO_NAME  CMO_MEMSUM  \
 23  School For Integrated Academics & Technologies...      2901.0

                                              SCH_NAME CMO_STATE  CMO_SCHNUM  \
 23  DUVAL MYCROSCHOOL OF INTEGRATED ACADEMICS AND ...        CA        24.0

                     CMO_URL  CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  \
 23  http://www.siatech.org/            3.0      CA,FL,AR        VOS

     CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 23                     71.0       ...             2012.0         NaN

                                              SEARCH16  TOTETH    PCTETH  AGE  \
 23  DUVAL MYCROSCHOOL OF INTEGRATED ACADEMICS AND ...   137.0  0.634259  3.0

       PCTFRL PLACE        STR OVERLAPS_REMOVED
 23  0.180556  City  30.857143                1

 [1 rows x 392 columns],
                             CMO_NAME  CMO_MEMSUM  \
 24  Renaissance Charter School, Inc.     30983.0

                                       SCH_NAME CMO_STATE  CMO_SCHNUM  \
 24  RENAISSANCE CHARTER SCHOOL AT CENTRAL PALM        FL        38.0

                            CMO_URL  CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  \
 24  http://www.recsfoundation.org/            1.0            FL        NaN

     CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 24                      NaN       ...             2014.0         NaN

                                              SEARCH16  TOTETH    PCTETH  AGE  \
 24  RENAISSANCE CHARTER SCHOOL AT CENTRAL PALM  66...   669.0  0.863226  1.0

     PCTFRL   PLACE        STR OVERLAPS_REMOVED
 24     0.0  Suburb  20.945946                1

 [1 rows x 392 columns],
                             CMO_NAME  CMO_MEMSUM  \
 25  Renaissance Charter School, Inc.     30983.0

                                          SCH_NAME CMO_STATE  CMO_SCHNUM  \
 25  RENAISSANCE CHARTER SCHOOL AT CHICKASAW TRAIL        FL        38.0

                            CMO_URL  CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  \
 25  http://www.recsfoundation.org/            1.0            FL        NaN

     CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \

In [14]:
k = [1,3]
k.append([6,9])
k

[1, 3, [6, 9]]

In [18]:
ten_count = int(round(len(arr_of_dfs) /10))
ten_count

15

In [21]:
indices_arr = np.arange(len(arr_of_dfs))
ind_sublists = np.array_split(indices_arr, ten_count)

In [22]:
ind_sublists

[array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10]),
 array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]),
 array([22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]),
 array([33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]),
 array([44, 45, 46, 47, 48, 49, 50, 51, 52, 53]),
 array([54, 55, 56, 57, 58, 59, 60, 61, 62, 63]),
 array([64, 65, 66, 67, 68, 69, 70, 71, 72, 73]),
 array([74, 75, 76, 77, 78, 79, 80, 81, 82, 83]),
 array([84, 85, 86, 87, 88, 89, 90, 91, 92, 93]),
 array([ 94,  95,  96,  97,  98,  99, 100, 101, 102, 103]),
 array([104, 105, 106, 107, 108, 109, 110, 111, 112, 113]),
 array([114, 115, 116, 117, 118, 119, 120, 121, 122, 123]),
 array([124, 125, 126, 127, 128, 129, 130, 131, 132, 133]),
 array([134, 135, 136, 137, 138, 139, 140, 141, 142, 143]),
 array([144, 145, 146, 147, 148, 149, 150, 151, 152, 153])]

In [24]:
for i in ind_sublists :
    print(type(i))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [28]:
len(arr_of_dfs)

154

In [34]:
ind_sublists[1][0]

11

In [35]:
ind_sublists[1][len(ind_sublists[1]) - 1]

21

In [38]:
len(arr_of_dfs[ind_sublists[0][0]: ind_sublists[0][len(ind_sublists[0]) - 1] + 1])

11

In [41]:
arr_of_dfs[ind_sublists[1][0]: ind_sublists[1][len(ind_sublists[1]) -1] +1]

[   CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 11    Icahn      1926.0  ICAHN CHARTER SCHOOL 3        NY         7.0

                                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 11  http://www.icahncharterschools.org/            1.0            NY

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 11        NaN                      NaN       ...             2008.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 11         NaN  ICAHN CHARTER SCHOOL 3  1500 PELHAM PKWY S , B...   306.0

       PCTETH  AGE    PCTFRL PLACE        STR OVERLAPS_REMOVED
 11  0.968354  7.0  0.816456  City  15.047619                1

 [1 rows x 392 columns],
    CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 12    Icahn      1926.0  ICAHN CHARTER SCHOOL 4        NY         7.0

                                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 12  http://www.icahncharterschools.org/            1.0            NY

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 12        NaN                      NaN       ...             2009.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 12         NaN  ICAHN CHARTER SCHOOL 4  1500 PELHAM PKWY SOUTH...   313.0

       PCTETH  AGE   PCTFRL PLACE        STR OVERLAPS_REMOVED
 12  0.984277  6.0  0.68239  City  13.826087                1

 [1 rows x 392 columns],
    CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 13    Icahn      1926.0  ICAHN CHARTER SCHOOL 5        NY         7.0

                                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 13  http://www.icahncharterschools.org/            1.0            NY

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 13        NaN                      NaN       ...             2011.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 13         NaN  ICAHN CHARTER SCHOOL 5  1500 PELHAM PKWY S , B...   228.0

       PCTETH  AGE    PCTFRL PLACE   STR OVERLAPS_REMOVED
 13  0.919355  4.0  0.524194  City  15.5                1

 [1 rows x 392 columns],
    CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 14    Icahn      1926.0  ICAHN CHARTER SCHOOL 6        NY         7.0

                                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 14  http://www.icahncharterschools.org/            1.0            NY

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 14        NaN                      NaN       ...             2012.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 14         NaN  ICAHN CHARTER SCHOOL 6  1701 FULTON AVE , BRON...   213.0

       PCTETH  AGE    PCTFRL PLACE   STR OVERLAPS_REMOVED
 14  0.986111  3.0  0.597222  City  14.4                1

 [1 rows x 392 columns],
    CMO_NAME  CMO_MEMSUM                SCH_NAME CMO_STATE  CMO_SCHNUM  \
 15    Icahn      1926.0  ICAHN CHARTER SCHOOL 7        NY         7.0

                                 CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 15  http://www.icahncharterschools.org/            1.0            NY

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 15        NaN                      NaN       ...             2013.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 15         NaN  ICAHN CHARTER SCHOOL 7  1535 STORY AVE , BRONX...   168.0

       PCTETH  AGE    PCTFRL PLACE   STR OVERLAPS_REMOVED
 15  0.965517  2.0  0.425287  City  14.5                1

 [1 rows x 392 columns],
                    CMO_NAME  CMO_MEMSUM   SCH_NAME CMO_STATE  CMO_SCHNUM  \
 16  Trinity Charter Schools       607.0  BOKENKAMP        TX         9.0

                                   CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 16  http://www.trinitycharterschools.org/            1.0            TX

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 16        CMO                    333.0       ...             2014.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 16         NaN  BOKENKAMP  5517 S ALAMEDA , CORPUS CHRISTI TX ...    90.0

       PCTETH  AGE    PCTFRL PLACE        STR OVERLAPS_REMOVED
 16  0.989011  1.0  0.571429  City  16.575592                1

 [1 rows x 392 columns],
                CMO_NAME  CMO_MEMSUM                            SCH_NAME  \
 17  Varner & Associates      2381.0  CHANDLER PARK ACADEMY - ELEMENTARY

    CMO_STATE  CMO_SCHNUM                                  CMO_URL  \
 17        MI         1.0  https://chandlerparkacademy.net/middle/

     CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17  \
 17            1.0            MI        NaN                      NaN

          ...        YEAR_OPENED YEAR_CLOSED  \
 17       ...             2000.0         NaN

                                              SEARCH16  TOTETH    PCTETH   AGE  \
 17  CHANDLER PARK ACADEMY - ELEMENTARY  20200 KELL...   998.0  0.998999  15.0

       PCTFRL   PLACE   STR OVERLAPS_REMOVED
 17  0.940941  Suburb  22.2                1

 [1 rows x 392 columns],
                CMO_NAME  CMO_MEMSUM                             SCH_NAME  \
 18  Varner & Associates      2381.0  CHANDLER PARK ACADEMY - HIGH SCHOOL

    CMO_STATE  CMO_SCHNUM                                  CMO_URL  \
 18        MI         1.0  https://chandlerparkacademy.net/middle/

     CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17  \
 18            1.0            MI        NaN                      NaN

          ...        YEAR_OPENED YEAR_CLOSED  \
 18       ...             2007.0         NaN

                                              SEARCH16  TOTETH PCTETH  AGE  \
 18  CHANDLER PARK ACADEMY - HIGH SCHOOL  20254 Kel...   729.0    1.0  8.0

       PCTFRL   PLACE        STR OVERLAPS_REMOVED
 18  0.912209  Suburb  22.430769                1

 [1 rows x 392 columns],
                CMO_NAME  CMO_MEMSUM                               SCH_NAME  \
 19  Varner & Associates      2381.0  CHANDLER PARK ACADEMY - MIDDLE SCHOOL

    CMO_STATE  CMO_SCHNUM                                  CMO_URL  \
 19        MI         1.0  https://chandlerparkacademy.net/middle/

     CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17  \
 19            1.0            MI        NaN                      NaN

          ...        YEAR_OPENED YEAR_CLOSED  \
 19       ...             1998.0         NaN

                                              SEARCH16  TOTETH PCTETH   AGE  \
 19  CHANDLER PARK ACADEMY - MIDDLE SCHOOL  20100 K...   653.0    1.0  17.0

       PCTFRL   PLACE        STR OVERLAPS_REMOVED
 19  0.940276  Suburb  22.517241                1

 [1 rows x 392 columns],
          CMO_NAME  CMO_MEMSUM  \
 20  Doral Academy     11235.0

                                            SCH_NAME CMO_STATE  CMO_SCHNUM  \
 20  DORAL INTERNATIONAL ACADEMY OF MATH AND SCIENCE        FL        12.0

                                  CMO_URL  CMO_NUMSTATES CMO_ALLSTATES  \
 20  https://www.doralacademyschools.org/            3.0      FL,NV,CO

    CMO_SECTOR  CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED  \
 20     Hybrid                   5373.0       ...             2011.0

    YEAR_CLOSED                                           SEARCH16  TOTETH  \
 20         NaN  DORAL INTERNATIONAL ACADEMY OF MATH AND SCIENC...    61.0

       PCTETH  AGE    PCTFRL   PLACE   STR OVERLAPS_REMOVED
 20  0.968254  4.0  0.126984  Suburb  12.6                1

 [1 rows x 392 columns],
        CMO_NAME  CMO_MEMSUM  \
 21  MYcroSchool      3285.0

                                              SCH_NAME CMO_STATE  CMO_SCHNUM  \
 21  DUVAL MYCROSCHOOL OF INTEGRATED ACADEMICS AND ...        FL         8.0

                          CMO_URL  CMO_NUMSTATES CMO_ALLSTATES CMO_SECTOR  \
 21  https://www.mycroschool.org/            1.0            FL        NaN

     CMO_NUMSTUDENTS_CREDO17       ...        YEAR_OPENED YEAR_CLOSED  \
 21                      NaN       ...             2012.0         NaN

                                              SEARCH16  TOTETH    PCTETH  AGE  \
 21  DUVAL MYCROSCHOOL OF INTEGRATED ACADEMICS AND ...   137.0  0.634259  3.0

       PCTFRL PLACE        STR OVERLAPS_REMOVED
 21  0.180556  City  30.857143                1

 [1 rows x 392 columns]]

In [45]:
for sub_array in ind_sublists:
    arr_dfs_chunk = arr_of_dfs[sub_array[0]: sub_array[len(sub_array) -1] +1]
    print(str(sub_array[0]) + " : " + str(sub_array[len(sub_array) -1]))

0 : 10
11 : 21
22 : 32
33 : 43
44 : 53
54 : 63
64 : 73
74 : 83
84 : 93
94 : 103
104 : 113
114 : 123
124 : 133
134 : 143
144 : 153

In [46]:
ind_sublists

[array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10]),
 array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]),
 array([22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]),
 array([33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]),
 array([44, 45, 46, 47, 48, 49, 50, 51, 52, 53]),
 array([54, 55, 56, 57, 58, 59, 60, 61, 62, 63]),
 array([64, 65, 66, 67, 68, 69, 70, 71, 72, 73]),
 array([74, 75, 76, 77, 78, 79, 80, 81, 82, 83]),
 array([84, 85, 86, 87, 88, 89, 90, 91, 92, 93]),
 array([ 94,  95,  96,  97,  98,  99, 100, 101, 102, 103]),
 array([104, 105, 106, 107, 108, 109, 110, 111, 112, 113]),
 array([114, 115, 116, 117, 118, 119, 120, 121, 122, 123]),
 array([124, 125, 126, 127, 128, 129, 130, 131, 132, 133]),
 array([134, 135, 136, 137, 138, 139, 140, 141, 142, 143]),
 array([144, 145, 146, 147, 148, 149, 150, 151, 152, 153])]